<a href="https://colab.research.google.com/github/Uarednikov/test/blob/master/PriseCar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
data=pd.read_csv('train.csv')

In [52]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440236 entries, 0 to 440235
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          440236 non-null  int64
 1   make          432193 non-null  object
 2   model         432113 non-null  object
 3   trim          431899 non-null  object
 4   body          429843 non-null  object
 5   transmission  388775 non-null  object
 6   vin           440236 non-null  object
 7   state         440236 non-null  object
 8   condition     430831 non-null  float64
 9   odometer      440167 non-null  float64
 10  color         439650 non-null  object
 11  interior      439650 non-null  object
 12  seller        440236 non-null  object
 13  sellingprice  440236 non-null  int64
 14  saledate      440236 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 50.4+ MB

In [53]:

data.head(20)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,sellingprice,saledate
0,2011,Ford,Edge,SEL,suv,automatic,2fmdk3jc4bba41556,md,4.2,111041.0,black,black,santander consumer,12500,Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
1,2014,Ford,Fusion,SE,Sedan,automatic,3fa6p0h75er208976,mo,3.5,31034.0,black,black,ars/avis budget group,14500,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
2,2012,Nissan,Sentra,2.0 SL,sedan,automatic,3n1ab6ap4cl698412,nj,2.2,35619.0,black,black,nissan-infiniti lt,9100,Wed Jun 10 2015 02:30:00 GMT-0700 (PDT)
3,2003,HUMMER,H2,Base,suv,automatic,5grgn23u93h101360,tx,2.8,131301.0,gold,beige,wichita falls ford lin inc,13300,Wed Jun 17 2015 03:00:00 GMT-0700 (PDT)
4,2007,Ford,Fusion,SEL,Sedan,automatic,3fahp08z17r268380,md,2.0,127709.0,black,black,purple heart,1300,Tue Feb 03 2015 04:00:00 GMT-0800 (PST)
5,2013,Lincoln,MKZ,Base,Sedan,automatic,3ln6l2j91dr817800,mi,2.5,14894.0,black,black,"ford motor credit company,llc",22600,Thu May 21 2015 02:00:00 GMT-0700 (PDT)
6,2010,pontiac,g6,4c,NaN,automatic,1g2za5eb4a4157380,nc,3.4,114587.0,silver,black,north state acceptance,5900,Mon Jan 12 2015 09:30:00 GMT-0800 (PST)
7,2013,Ford,Escape,SE,SUV,automatic,1fmcu0gx3duc59421,fl,4.8,26273.0,blue,gray,fields bmw,15200,Tue Feb 03 2015 01:00:00 GMT-0800 (PST)
8,2000,Hyundai,Elantra,GLS,Sedan,automatic,kmhjf35f2yu955691,oh,1.9,182624.0,black,tan,dt inventory,700,Thu Jan 22 2015 01:00:00 GMT-0800 (PST)
9,2005,Ford,Freestyle,Limited,wagon,automatic,1fmdk06135ga45438,oh,1.0,149364.0,black,tan,wells fargo dealer services,325,Tue Jun 16 2015 05:00:00 GMT-0700 (PDT)
10,2007,NaN,NaN,NaN,NaN,automatic,5tfbv54157x019560,ca,3.1,102507.0,blue,gray,aaero sweet company,17250,Thu Jan 29 2015 03:30:00 GMT-0800 (PST)
11,2011,Buick,Lucerne,CXL,Sedan,automatic,1g4hc5em5bu146484,mo,4.8,74760.0,white,tan,santander consumer,12400,Wed Jan 21 2015 02:30:00 GMT-0800 (PST)
12,2003,Ford,Windstar,Base,Minivan,automatic,2fmza50453bb39611,az,1.9,145355.0,white,gray,cash time title loans,500,Tue Jan 06 2015 03:00:00 GMT-0800 (PST)
13,2006,Chevrolet,Silverado 1500,LS,Extended Cab,NaN,1gcek19bx6z269153,tx,2.2,166999.0,white,gray,texas direct auto,6700,Wed Feb 25 2015 02:20:00 GMT-0800 (PST)
14,2011,Nissan,Murano,SL,SUV,automatic,jn8az1muxbw066198,ca,4.2,38003.0,black,black,nissan-infiniti lt,20000,Wed Jan 28 2015 04:30:00 GMT-0800 (PST)
15,2014,Chevrolet,Equinox,LT,suv,automatic,2gnalcek2e6164203,fl,2.7,37209.0,black,black,avis corporation,16200,Tue Jun 02 2015 02:15:00 GMT-0700 (PDT)
16,2012,Honda,Accord,SE,Sedan,automatic,1hgcp2f61ca052981,ga,3.6,35905.0,white,beige,"ahfc/honda lease trust/hvt, inc. eot",13200,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
17,2004,Chevrolet,Silverado 1500,Base,Regular Cab,automatic,1gcec14x14z341869,fl,2.9,196350.0,white,black,autonation chevrolet south clearwater,2300,Tue Jan 13 2015 10:00:00 GMT-0800 (PST)
18,2012,Honda,Civic,LX,Coupe,automatic,2hgfg3b55ch538212,ca,4.1,45580.0,blue,gray,premium auto wholesale,10900,Thu Feb 19 2015 04:00:00 GMT-0800 (PST)
19,2008,Acura,MDX,Base,SUV,automatic,2hnyd28478h504752,tn,2.6,108473.0,white,beige,wells fargo dealer services,14000,Wed May 27 2015 03:30:00 GMT-0700 (PDT)

In [54]:

data.describe()

                year      condition       odometer   sellingprice
count  440236.000000  430831.000000  440167.000000  440236.000000
mean     2010.040101       3.425077   68344.421604   13592.209588
std         3.977945       0.949973   53542.203908    9751.479098
min      1982.000000       1.000000       1.000000       1.000000
25%      2007.000000       2.700000   28258.000000    6900.000000
50%      2012.000000       3.600000   52098.000000   12100.000000
75%      2013.000000       4.200000   99272.000000   18200.000000
max      2015.000000       5.000000  999999.000000  230000.000000

In [55]:
data.columns = data.columns.str.replace(' ', '')

In [56]:
#Смотрим явные дубли
data.duplicated().sum()

0

In [57]:
#удаляем вин так как он нам не пригодится
data=data.drop(['vin'] , axis=1)

In [58]:
#удаляем авто в которых нет информации о модели и марки
data=data.dropna(subset=['make'])
data=data.dropna(subset=['model'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 432113 entries, 0 to 440235
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          432113 non-null  int64
 1   make          432113 non-null  object
 2   model         432113 non-null  object
 3   trim          431819 non-null  object
 4   body          429763 non-null  object
 5   transmission  382042 non-null  object
 6   state         432113 non-null  object
 7   condition     422774 non-null  float64
 8   odometer      432046 non-null  float64
 9   color         431546 non-null  object
 10  interior      431546 non-null  object
 11  seller        432113 non-null  object
 12  sellingprice  432113 non-null  int64
 13  saledate      432113 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 49.5+ MB

In [59]:
#удаляем авто в которых нет информации о трансмисии
data=data.dropna(subset=['transmission'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 382042 entries, 0 to 440235
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          382042 non-null  int64
 1   make          382042 non-null  object
 2   model         382042 non-null  object
 3   trim          381775 non-null  object
 4   body          380027 non-null  object
 5   transmission  382042 non-null  object
 6   state         382042 non-null  object
 7   condition     374211 non-null  float64
 8   odometer      382001 non-null  float64
 9   color         381591 non-null  object
 10  interior      381591 non-null  object
 11  seller        382042 non-null  object
 12  sellingprice  382042 non-null  int64
 13  saledate      382042 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 43.7+ MB

In [60]:
#удаляем авто в которых нет информации о типе кузова
data=data.dropna(subset=['body'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380027 entries, 0 to 440235
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          380027 non-null  int64
 1   make          380027 non-null  object
 2   model         380027 non-null  object
 3   trim          380027 non-null  object
 4   body          380027 non-null  object
 5   transmission  380027 non-null  object
 6   state         380027 non-null  object
 7   condition     372527 non-null  float64
 8   odometer      379990 non-null  float64
 9   color         379579 non-null  object
 10  interior      379579 non-null  object
 11  seller        380027 non-null  object
 12  sellingprice  380027 non-null  int64
 13  saledate      380027 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 43.5+ MB

In [61]:
#удаляем авто в которых нет информации о пробеге
data=data.dropna(subset=['odometer'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 379990 entries, 0 to 440235
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          379990 non-null  int64
 1   make          379990 non-null  object
 2   model         379990 non-null  object
 3   trim          379990 non-null  object
 4   body          379990 non-null  object
 5   transmission  379990 non-null  object
 6   state         379990 non-null  object
 7   condition     372512 non-null  float64
 8   odometer      379990 non-null  float64
 9   color         379543 non-null  object
 10  interior      379543 non-null  object
 11  seller        379990 non-null  object
 12  sellingprice  379990 non-null  int64
 13  saledate      379990 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 43.5+ MB

In [64]:
#так как поля make	model	trim	body имеют разный регистр, приравняем их к одному, нижнему
data['make']=data['make'].str.lower()
data['model']=data['model'].str.lower()
data['trim']=data['trim'].str.lower()
data['body']=data['body'].str.lower()
data.head(20)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
0,2011,ford,edge,sel,suv,automatic,md,4.2,111041.0,black,black,santander consumer,12500,Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
1,2014,ford,fusion,se,sedan,automatic,mo,3.5,31034.0,black,black,ars/avis budget group,14500,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
2,2012,nissan,sentra,2.0 sl,sedan,automatic,nj,2.2,35619.0,black,black,nissan-infiniti lt,9100,Wed Jun 10 2015 02:30:00 GMT-0700 (PDT)
3,2003,hummer,h2,base,suv,automatic,tx,2.8,131301.0,gold,beige,wichita falls ford lin inc,13300,Wed Jun 17 2015 03:00:00 GMT-0700 (PDT)
4,2007,ford,fusion,sel,sedan,automatic,md,2.0,127709.0,black,black,purple heart,1300,Tue Feb 03 2015 04:00:00 GMT-0800 (PST)
5,2013,lincoln,mkz,base,sedan,automatic,mi,2.5,14894.0,black,black,"ford motor credit company,llc",22600,Thu May 21 2015 02:00:00 GMT-0700 (PDT)
7,2013,ford,escape,se,suv,automatic,fl,4.8,26273.0,blue,gray,fields bmw,15200,Tue Feb 03 2015 01:00:00 GMT-0800 (PST)
8,2000,hyundai,elantra,gls,sedan,automatic,oh,1.9,182624.0,black,tan,dt inventory,700,Thu Jan 22 2015 01:00:00 GMT-0800 (PST)
9,2005,ford,freestyle,limited,wagon,automatic,oh,1.0,149364.0,black,tan,wells fargo dealer services,325,Tue Jun 16 2015 05:00:00 GMT-0700 (PDT)
11,2011,buick,lucerne,cxl,sedan,automatic,mo,4.8,74760.0,white,tan,santander consumer,12400,Wed Jan 21 2015 02:30:00 GMT-0800 (PST)
12,2003,ford,windstar,base,minivan,automatic,az,1.9,145355.0,white,gray,cash time title loans,500,Tue Jan 06 2015 03:00:00 GMT-0800 (PST)
14,2011,nissan,murano,sl,suv,automatic,ca,4.2,38003.0,black,black,nissan-infiniti lt,20000,Wed Jan 28 2015 04:30:00 GMT-0800 (PST)
15,2014,chevrolet,equinox,lt,suv,automatic,fl,2.7,37209.0,black,black,avis corporation,16200,Tue Jun 02 2015 02:15:00 GMT-0700 (PDT)
16,2012,honda,accord,se,sedan,automatic,ga,3.6,35905.0,white,beige,"ahfc/honda lease trust/hvt, inc. eot",13200,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
17,2004,chevrolet,silverado 1500,base,regular cab,automatic,fl,2.9,196350.0,white,black,autonation chevrolet south clearwater,2300,Tue Jan 13 2015 10:00:00 GMT-0800 (PST)
18,2012,honda,civic,lx,coupe,automatic,ca,4.1,45580.0,blue,gray,premium auto wholesale,10900,Thu Feb 19 2015 04:00:00 GMT-0800 (PST)
19,2008,acura,mdx,base,suv,automatic,tn,2.6,108473.0,white,beige,wells fargo dealer services,14000,Wed May 27 2015 03:30:00 GMT-0700 (PDT)
20,2008,cadillac,cts,base,sedan,automatic,ca,2.1,122677.0,black,black,tidalwave finance corp,6500,Wed Jan 21 2015 04:05:00 GMT-0800 (PST)
21,2013,ford,taurus,sel,sedan,automatic,in,3.0,65134.0,black,gray,enterprise fm exchange/tra/lease,11600,Wed Jan 14 2015 05:30:00 GMT-0800 (PST)
22,2012,cadillac,srx,luxury,suv,automatic,oh,4.9,45502.0,black,black,wholesale inc # 2,22500,Tue Jan 27 2015 01:30:00 GMT-0800 (PST)

In [67]:
#проверяем уникальные значения
data['make'].unique()

array(['ford', 'nissan', 'hummer', 'lincoln', 'hyundai', 'buick',
       'chevrolet', 'honda', 'acura', 'cadillac', 'gmc', 'saab', 'dodge',
       'toyota', 'volkswagen', 'bmw', 'infiniti', 'chrysler', 'kia',
       'jaguar', 'subaru', 'jeep', 'lexus', 'scion', 'fiat', 'suzuki',
       'mercedes-benz', 'mazda', 'volvo', 'audi', 'mini', 'isuzu',
       'mitsubishi', 'smart', 'pontiac', 'porsche', 'land rover',
       'saturn', 'ram', 'oldsmobile', 'mercury', 'bentley', 'fisker',
       'maserati', 'tesla', 'rolls-royce', 'plymouth', 'ferrari',
       'lamborghini', 'geo', 'aston martin', 'daewoo'], dtype=object)

In [77]:
data['body'].unique()

array(['suv', 'sedan', 'wagon', 'minivan', 'regular cab', 'coupe',
       'supercrew', 'extended cab', 'convertible', 'supercab',
       'hatchback', 'g coupe', 'g convertible', 'access cab', 'g sedan',
       'quad cab', 'tsx sport wagon', 'crew cab', 'van', 'cts coupe',
       'e-series van', 'koup', 'king cab', 'double cab', 'crewmax cab',
       'genesis coupe', 'g37 coupe', 'club cab', 'beetle convertible',
       'mega cab', 'regular-cab', 'xtracab', 'q60 coupe', 'elantra coupe',
       'promaster cargo van', 'cts wagon', 'cab plus 4',
       'g37 convertible', 'transit van', 'q60 convertible', 'cts-v coupe',
       'cab plus', 'ram van', 'granturismo convertible'], dtype=object)

In [70]:
#складывается впечетление что в nbgtе кузова указана и модель

In [71]:
data[data['body']=='cts-v wagon']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
422679,2012,cadillac,cts-v wagon,base,cts-v wagon,manual,ca,2.8,20499.0,blue,black,bmw of murrieta,50500,Tue Jan 13 2015 12:30:00 GMT-0800 (PST)

In [72]:
#так и есть, поправим, и ещё как мы видем в модели также есть ошибка

In [73]:
data['body']=data['body'].str.replace('cts-v wagon', 'wagon')
data['model']=data['model'].str.replace('cts-v wagon', 'cts-v')

In [78]:
data[data['body']=='cts coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
450,2012,cadillac,cts coupe,base,cts coupe,automatic,ga,3.8,37077.0,silver,gray,young motors llc,22500,Thu May 21 2015 02:45:00 GMT-0700 (PDT)
629,2012,cadillac,cts coupe,premium,cts coupe,automatic,fl,3.9,42192.0,white,tan,fiserv/usb dealer services northstar exchange,24400,Tue Jan 27 2015 01:30:00 GMT-0800 (PST)
2135,2011,cadillac,cts coupe,base,cts coupe,automatic,fl,4.1,34996.0,black,black,ebenzz motors,21500,Tue Jan 06 2015 01:30:00 GMT-0800 (PST)
4660,2012,cadillac,cts coupe,premium,cts coupe,automatic,il,3.0,32379.0,silver,black,ally,25000,Thu Jun 04 2015 03:00:00 GMT-0700 (PDT)
6856,2013,cadillac,cts coupe,premium,cts coupe,automatic,fl,3.5,11553.0,red,beige,fiserv/usb dealer services northstar exchange,30400,Tue Jun 16 2015 02:15:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403364,2012,cadillac,cts coupe,base,cts coupe,automatic,tn,4.2,30720.0,black,black,"thunder road automotive, llc.",22500,Wed May 27 2015 03:30:00 GMT-0700 (PDT)
408145,2012,cadillac,cts coupe,base,cts coupe,automatic,oh,3.5,38506.0,black,black,fiserv/usb dealer services northstar exchange,20800,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)
427731,2013,cadillac,cts coupe,premium,cts coupe,automatic,fl,2.7,25719.0,gold,beige,fiserv/usb dealer services northstar exchange,24000,Tue Jun 16 2015 02:15:00 GMT-0700 (PDT)
435509,2012,cadillac,cts coupe,premium,cts coupe,automatic,nj,4.7,8385.0,white,tan,fiserv/usb dealer services northstar exchange,27500,Wed Feb 04 2015 01:30:00 GMT-0800 (PST)
439824,2012,cadillac,cts coupe,base,cts coupe,automatic,mi,3.9,37347.0,red,black,fiserv/usb dealer services northstar exchange,21000,Thu Feb 26 2015 01:30:00 GMT-0800 (PST)

In [85]:
data['body']=data['body'].str.replace('cts coupe', 'coupe')
data['model']=data['model'].str.replace('cts coupe', 'cts')

In [79]:
data[data['body']=='q60 coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
9296,2014,infiniti,q60 coupe,sport,q60 coupe,manual,ca,4.6,5547.0,gray,black,nissan north america inc.,31500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
41876,2014,infiniti,q60 coupe,ipl,q60 coupe,manual,fl,4.7,12547.0,black,red,nissan north america inc.,34200,Wed Feb 04 2015 01:00:00 GMT-0800 (PST)
48136,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,il,4.9,8725.0,black,black,nissan north america inc.,27300,Thu May 14 2015 03:00:00 GMT-0700 (PDT)
54240,2014,infiniti,q60 coupe,ipl,q60 coupe,manual,ca,4.4,11650.0,—,red,nissan north america inc.,33000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
55374,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.3,27007.0,—,gray,nissan north america inc.,32400,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
63599,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.8,17058.0,—,black,nissan north america inc.,28600,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
67793,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.5,11371.0,white,black,nissan north america inc.,29600,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
74936,2014,infiniti,q60 coupe,base,q60 coupe,automatic,tn,4.8,28183.0,black,gray,nissan north america inc.,28800,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
80871,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.9,5627.0,black,black,nissan north america inc.,26800,Wed Jun 03 2015 03:30:00 GMT-0700 (PDT)
88339,2014,infiniti,q60 coupe,ipl,q60 coupe,automatic,tn,4.8,10029.0,gray,red,nissan north america inc.,34600,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
130556,2014,infiniti,q60 coupe,base,q60 coupe,automatic,il,4.6,7551.0,black,black,nissan north america inc.,29500,Tue Feb 17 2015 02:00:00 GMT-0800 (PST)
133811,2014,infiniti,q60 coupe,ipl,q60 coupe,automatic,tn,4.9,7308.0,gray,red,nissan north america inc.,38200,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
149097,2014,infiniti,q60 coupe,base,q60 coupe,automatic,il,4.9,2992.0,gray,black,nissan north america inc.,25200,Thu May 21 2015 03:00:00 GMT-0700 (PDT)
185336,2014,infiniti,q60 coupe,base,q60 coupe,automatic,il,4.0,10104.0,black,black,nissan north america inc.,29000,Tue Jun 09 2015 03:00:00 GMT-0700 (PDT)
200627,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tx,3.9,19739.0,black,black,nissan north america inc.,26400,Wed Jun 17 2015 03:30:00 GMT-0700 (PDT)
215511,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.8,12335.0,black,black,nissan north america inc.,28000,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
235019,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.3,22139.0,gray,gray,nissan north america inc.,28000,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
241235,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.9,6394.0,gray,black,nissan north america inc.,28400,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
260700,2015,infiniti,q60 coupe,sport limited,q60 coupe,automatic,fl,4.8,10369.0,red,black,nissan north america inc.,34200,Wed Jun 03 2015 02:00:00 GMT-0700 (PDT)
304516,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,ca,4.4,18146.0,white,black,nissan infiniti lt,29750,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
310561,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.5,20946.0,black,black,nissan north america inc.,28400,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
323921,2014,infiniti,q60 coupe,base,q60 coupe,automatic,tn,4.7,19758.0,black,black,nissan north america inc.,28400,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
336364,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,2.6,14695.0,black,black,nissan north america inc.,26400,Wed Dec 31 2014 10:30:00 GMT-0800 (PST)
354429,2014,infiniti,q60 coupe,ipl,q60 coupe,manual,fl,4.3,16162.0,gray,black,central florida auto gallery inc,33200,Tue Dec 30 2014 09:00:00 GMT-0800 (PST)
357355,2014,infiniti,q60 coupe,base,q60 coupe,automatic,il,3.8,18615.0,black,black,infiniti financial services,27400,Thu May 28 2015 03:00:00 GMT-0700 (PDT)
373422,2014,infiniti,q60 coupe,base,q60 coupe,automatic,tn,4.8,8524.0,white,—,nissan north america inc.,31800,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
390839,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,3.7,19438.0,gray,beige,nissan north america inc.,26400,Wed Feb 11 2015 02:30:00 GMT-0800 (PST)
405459,2014,infiniti,q60 coupe,base,q60 coupe,automatic,il,4.9,12874.0,gray,black,nissan north america inc.,28900,Tue Jan 20 2015 02:00:00 GMT-0800 (PST)
427951,2014,infiniti,q60 coupe,base,q60 coupe,automatic,tn,4.8,19612.0,burgundy,gray,nissan north america inc.,31000,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
434770,2014,infiniti,q60 coupe,journey,q60 coupe,automatic,tn,4.8,7430.0,black,black,nissan north america inc.,29600,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)

In [89]:
data['body']=data['body'].str.replace('q60 coupe', 'coupe')
data['model']=data['model'].str.replace('q60 coupe', 'q60')

In [80]:
data[data['body']=='elantra coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
9431,2013,hyundai,elantra coupe,gs,elantra coupe,automatic,ga,3.6,17707.0,black,gray,chrysler capital,10600,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
13367,2013,hyundai,elantra coupe,se,elantra coupe,automatic,nj,3.9,13539.0,gray,black,hyundai motor finance,13900,Wed May 27 2015 02:30:00 GMT-0700 (PDT)
16015,2014,hyundai,elantra coupe,base,elantra coupe,automatic,fl,4.1,15814.0,gray,gray,hyundai motor finance,15200,Tue Mar 03 2015 01:30:00 GMT-0800 (PST)
22386,2013,hyundai,elantra coupe,gs,elantra coupe,automatic,ca,4.3,26879.0,white,gray,hyundai motor finance,12200,Tue Jan 13 2015 12:30:00 GMT-0800 (PST)
30805,2013,hyundai,elantra coupe,gs,elantra coupe,manual,ca,2.2,43740.0,blue,gray,tdaf remarketing,9000,Tue Feb 10 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425002,2014,hyundai,elantra coupe,base,elantra coupe,automatic,tx,4.2,18365.0,blue,gray,hyundai motor finance,13600,Wed May 27 2015 03:30:00 GMT-0700 (PDT)
434088,2013,hyundai,elantra coupe,gs,elantra coupe,automatic,mn,3.5,17221.0,black,black,hyundai motor finance,11000,Wed Jun 03 2015 03:30:00 GMT-0700 (PDT)
435531,2014,hyundai,elantra coupe,base,elantra coupe,automatic,mo,4.8,4498.0,blue,gray,poage auto plaza inc,16300,Tue Jun 09 2015 04:00:00 GMT-0700 (PDT)
435960,2013,hyundai,elantra coupe,gs,elantra coupe,automatic,mn,4.1,20111.0,gray,black,hyundai motor finance,11800,Wed Jun 03 2015 03:30:00 GMT-0700 (PDT)
439558,2013,hyundai,elantra coupe,se,elantra coupe,manual,pa,3.2,27677.0,gray,black,hyundai motor finance,12300,Fri Feb 27 2015 01:00:00 GMT-0800 (PST)

In [91]:
data['body']=data['body'].str.replace('elantra coupe', 'coupe')
data['model']=data['model'].str.replace('elantra coupe', 'elantra')

In [81]:
 
data[data['body']=='g37 convertible']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
17147,2010,infiniti,g37 convertible,base,g37 convertible,automatic,fl,3.0,44980.0,black,black,nissan infiniti lt,20000,Tue Mar 10 2015 02:30:00 GMT-0700 (PDT)
26385,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ga,3.4,53267.0,burgundy,tan,dsi auto sales llc,19000,Thu May 21 2015 03:00:00 GMT-0700 (PDT)
58277,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ca,4.1,45009.0,purple,gray,nissan infiniti lt,21000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
65625,2010,infiniti,g37 convertible,base,g37 convertible,automatic,tx,3.8,21802.0,gray,gray,nissan infiniti lt,22400,Tue Dec 23 2014 10:10:00 GMT-0800 (PST)
88712,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ca,3.9,58266.0,white,beige,nissan infiniti lt,21000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
90423,2010,infiniti,g37 convertible,base,g37 convertible,automatic,fl,4.2,19875.0,black,gray,nissan infiniti lt,23000,Wed Mar 04 2015 01:00:00 GMT-0800 (PST)
190203,2010,infiniti,g37 convertible,base,g37 convertible,automatic,nj,1.9,29144.0,white,gray,nissan infiniti lt,18800,Wed Jun 10 2015 02:30:00 GMT-0700 (PDT)
222604,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ca,4.6,25212.0,black,gray,nissan infiniti lt,24750,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
241154,2010,infiniti,g37 convertible,base,g37 convertible,automatic,fl,4.5,2864.0,red,black,american bank auto liquidators,26200,Tue Jun 02 2015 05:00:00 GMT-0700 (PDT)
251537,2010,infiniti,g37 convertible,base,g37 convertible,automatic,nj,3.6,36934.0,gray,black,nissan infiniti lt,19800,Wed Jan 21 2015 01:30:00 GMT-0800 (PST)
298470,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ca,4.1,38996.0,black,black,hornburg jaguar santa monica,21500,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
304569,2010,infiniti,g37 convertible,base,g37 convertible,automatic,fl,2.8,47462.0,black,beige,nissan infiniti lt,20000,Tue Jun 16 2015 02:30:00 GMT-0700 (PDT)
307924,2010,infiniti,g37 convertible,base,g37 convertible,automatic,il,2.5,37955.0,black,black,nissan infiniti lt,20600,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)
311017,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ga,3.2,47632.0,white,gray,mercedes benz of buckhead,20800,Wed Feb 04 2015 02:00:00 GMT-0800 (PST)
370117,2010,infiniti,g37 convertible,base,g37 convertible,automatic,fl,3.4,26556.0,gray,gray,nissan infiniti lt,18000,Mon Dec 22 2014 09:30:00 GMT-0800 (PST)
371086,2010,infiniti,g37 convertible,base,g37 convertible,automatic,fl,2.8,38482.0,white,black,nissan infiniti lt,20200,Tue Feb 24 2015 01:30:00 GMT-0800 (PST)
383436,2010,infiniti,g37 convertible,base,g37 convertible,automatic,ca,2.9,55602.0,gray,gray,nissan infiniti lt,19250,Tue Dec 23 2014 12:30:00 GMT-0800 (PST)

In [92]:
data['body']=data['body'].str.replace('g37 convertible', 'convertible')
data['model']=data['model'].str.replace('g37 convertible', 'g37')

In [82]:
data[data['body']=='q60 convertible']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
24319,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.5,14971.0,—,black,nissan north america inc.,36800,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
39511,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,tn,4.7,12011.0,—,purple,nissan north america inc.,41400,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
92591,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.4,16257.0,gray,black,nissan north america inc.,34600,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
100395,2014,infiniti,q60 convertible,sport,q60 convertible,automatic,tn,4.9,21695.0,black,black,nissan north america inc.,35200,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
102773,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.9,15051.0,gray,black,nissan north america inc.,35800,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
110955,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,nv,4.8,2462.0,black,red,ford country,40750,Fri Feb 20 2015 04:15:00 GMT-0800 (PST)
121917,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,5.0,10149.0,black,black,nissan north america inc.,36200,Wed Jun 03 2015 03:30:00 GMT-0700 (PDT)
135886,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,tn,4.2,9657.0,black,black,nissan dealer blend/infiniti of cool springs,38200,Wed Mar 04 2015 02:30:00 GMT-0800 (PST)
140839,2014,infiniti,q60 convertible,sport,q60 convertible,automatic,tn,5.0,8202.0,white,black,nissan north america inc.,38400,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
145104,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.5,29194.0,—,black,nissan north america inc.,34800,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
145319,2014,infiniti,q60 convertible,base,q60 convertible,automatic,il,4.7,16161.0,white,beige,nissan north america inc.,37600,Tue Jan 20 2015 02:00:00 GMT-0800 (PST)
153472,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tx,4.4,8250.0,silver,black,bert ogden infiniti,40000,Wed Jan 14 2015 02:00:00 GMT-0800 (PST)
207806,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.3,12045.0,gray,black,nissan north america inc.,37400,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
216600,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,tn,4.8,13200.0,—,red,nissan north america inc.,40400,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
225921,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,tn,4.4,23596.0,—,black,nissan north america inc.,35000,Wed Jun 03 2015 03:30:00 GMT-0700 (PDT)
240645,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.4,26965.0,gray,black,nissan north america inc.,33200,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
253697,2014,infiniti,q60 convertible,base,q60 convertible,automatic,ca,4.7,4768.0,black,black,nissan north america inc.,31500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
262727,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,3.7,22657.0,white,beige,nissan north america inc.,35200,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
266588,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.7,7911.0,gray,black,nissan north america inc.,36200,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
284226,2014,infiniti,q60 convertible,sport,q60 convertible,manual,tn,4.4,12212.0,NaN,NaN,nissan north america inc.,37400,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
289224,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.7,22113.0,—,black,nissan north america inc.,36400,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
293464,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,tn,5.0,13326.0,white,red,nissan north america inc.,42200,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
298458,2014,infiniti,q60 convertible,base,q60 convertible,automatic,ca,4.4,7890.0,black,black,nissan north america inc.,37000,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
349468,2014,infiniti,q60 convertible,ipl,q60 convertible,automatic,tn,4.8,8893.0,black,gray,nissan north america inc.,39000,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
359703,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.5,17974.0,black,black,nissan north america inc.,33600,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
363330,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.4,28025.0,white,tan,nissan north america inc.,35000,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
374415,2014,infiniti,q60 convertible,base,q60 convertible,automatic,fl,3.9,14090.0,red,beige,nissan north america inc.,35400,Wed Feb 04 2015 01:00:00 GMT-0800 (PST)
375221,2014,infiniti,q60 convertible,base,q60 convertible,automatic,ca,4.0,7436.0,white,beige,nissan north america inc.,38000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
378007,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,5.0,9068.0,gray,gray,nissan north america inc.,37000,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
383387,2014,infiniti,q60 convertible,base,q60 convertible,automatic,il,4.7,3142.0,gray,blue,nissan north america inc.,38400,Tue Jun 09 2015 03:00:00 GMT-0700 (PDT)
425719,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.1,24199.0,white,tan,nissan north america inc.,32800,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
437381,2014,infiniti,q60 convertible,base,q60 convertible,automatic,tn,4.4,9942.0,—,black,nissan north america inc.,36800,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)

In [93]:
data['body']=data['body'].str.replace('q60 convertible', 'convertible')
data['model']=data['model'].str.replace('q60 convertible', 'q60')

In [83]:
data[data['body']=='cts-v coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
52170,2014,cadillac,cts-v coupe,base,cts-v coupe,manual,tx,NaN,9803.0,gray,black,frank kent cadillac ltd,49250,Wed Dec 17 2014 10:30:00 GMT-0800 (PST)
89380,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,ca,4.4,9972.0,red,black,us bank,42000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
104143,2014,cadillac,cts-v coupe,base,cts-v coupe,manual,mi,4.0,14315.0,red,black,gm remarketing,47271,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
106137,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,fl,2.1,22801.0,gray,black,american bank auto liquidators,35200,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
145567,2013,cadillac,cts-v coupe,base,cts-v coupe,manual,ca,3.6,15184.0,black,black,lightning auto group llc,46000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
226788,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,nv,4.1,42022.0,black,black,unique autos,35600,Fri Feb 20 2015 03:45:00 GMT-0800 (PST)
229941,2012,cadillac,cts-v coupe,base,cts-v coupe,manual,pa,4.6,4737.0,black,black,frederick chev cad olds,44750,Fri Dec 19 2014 09:30:00 GMT-0800 (PST)
251163,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,tx,5.0,36989.0,red,black,hopper motorplex inc,38500,Wed Jan 07 2015 10:15:00 GMT-0800 (PST)
255208,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,wa,3.9,38703.0,silver,gray,affordable used cars & marine sales,35000,Wed Feb 18 2015 04:30:00 GMT-0800 (PST)
273471,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,tx,4.2,9853.0,black,black,pm standley motorcars,38900,Wed Feb 04 2015 02:20:00 GMT-0800 (PST)
290083,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,nv,2.8,24288.0,black,black,assassin cycle & design,38000,Fri Jun 05 2015 05:00:00 GMT-0700 (PDT)
309848,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,tx,4.9,11647.0,black,—,hopper motorplex inc,44000,Wed Jun 03 2015 03:15:00 GMT-0700 (PDT)
356015,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,fl,3.8,15456.0,charcoal,black,bradenton motors,39600,Thu Feb 05 2015 01:40:00 GMT-0800 (PST)
356048,2013,cadillac,cts-v coupe,base,cts-v coupe,automatic,fl,1.9,24757.0,white,black,lauderdale imports ltd bmw pembrok pines,37000,Fri Jan 30 2015 01:35:00 GMT-0800 (PST)
356945,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,ca,4.2,30066.0,silver,black,bill pearce motors,38750,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
361244,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,tx,4.3,31888.0,gray,black,primeritus remarketing/compass bank,37100,Wed Feb 18 2015 02:00:00 GMT-0800 (PST)
376795,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,ca,3.6,68977.0,gray,black,premium auto wholesale,31000,Thu Feb 12 2015 04:00:00 GMT-0800 (PST)
411629,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,mi,3.9,10792.0,black,black,automobiles paille inc,41500,Thu Jun 11 2015 02:30:00 GMT-0700 (PDT)
413574,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,nc,3.6,18838.0,black,black,fiserv/usb dealer services northstar exchange,37500,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
424618,2011,cadillac,cts-v coupe,base,cts-v coupe,automatic,ga,3.4,36895.0,black,black,wells fargo dealer services,33100,Thu May 21 2015 03:00:00 GMT-0700 (PDT)
437357,2012,cadillac,cts-v coupe,base,cts-v coupe,manual,tn,4.5,27569.0,black,black,beaman motor company,41300,Wed May 27 2015 03:30:00 GMT-0700 (PDT)
437740,2012,cadillac,cts-v coupe,base,cts-v coupe,automatic,ca,3.9,62863.0,black,black,aaero sweet company,34500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)

In [94]:
data['body']=data['body'].str.replace('cts-v coupe', 'coupe')
data['model']=data['model'].str.replace('cts-v coupe', 'cts-v')

In [96]:
data[data['body']=='g coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
93,2011,infiniti,g coupe,g37,g coupe,manual,ca,3.3,35617.0,gray,black,nissan infiniti lt,23750,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
384,2012,infiniti,g coupe,g37,g coupe,automatic,fl,3.7,17553.0,black,black,nissan infiniti lt,19800,Thu Mar 05 2015 01:15:00 GMT-0800 (PST)
1003,2013,infiniti,g coupe,g37x,g coupe,automatic,tn,3.5,24963.0,black,black,nissan infiniti lt,23600,Wed Dec 31 2014 10:30:00 GMT-0800 (PST)
1625,2013,infiniti,g coupe,g37x,g coupe,automatic,nj,4.3,16379.0,gray,black,nissan infiniti lt,22400,Wed Jun 17 2015 02:30:00 GMT-0700 (PDT)
1812,2012,infiniti,g coupe,g37,g coupe,manual,tx,3.6,29952.0,gray,black,nissan infiniti lt,24200,Wed Jun 17 2015 03:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435783,2012,infiniti,g coupe,g37,g coupe,automatic,tx,3.6,66399.0,black,black,nissan infiniti lt,17600,Tue Jun 09 2015 03:30:00 GMT-0700 (PDT)
438581,2013,infiniti,g coupe,g37 sport,g coupe,manual,fl,4.7,29134.0,black,black,nissan infiniti lt,26800,Wed Jun 03 2015 02:00:00 GMT-0700 (PDT)
439018,2013,infiniti,g coupe,g37x,g coupe,automatic,oh,4.4,25904.0,gray,black,infiniti financial services,23400,Tue Jun 16 2015 02:30:00 GMT-0700 (PDT)
439367,2013,infiniti,g coupe,g37 sport,g coupe,automatic,ca,4.5,21126.0,black,beige,nissan infiniti lt,26500,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
440180,2012,infiniti,g coupe,g37,g coupe,automatic,ca,3.7,9956.0,silver,black,nissan infiniti lt,22000,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)

In [97]:
data['body']=data['body'].str.replace('g coupe', 'coupe')
data['model']=data['model'].str.replace('g coupe', 'g')

In [98]:
data[data['body']=='g convertible']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
100,2012,infiniti,g convertible,g37,g convertible,automatic,ca,5.0,37284.0,blue,gray,aaero sweet company,26500,Wed Jan 21 2015 04:15:00 GMT-0800 (PST)
1648,2011,infiniti,g convertible,g37,g convertible,automatic,ca,4.6,23330.0,white,tan,nissan infiniti lt,27000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
1994,2011,infiniti,g convertible,g37,g convertible,automatic,fl,4.9,26278.0,black,beige,nissan infiniti lt,25600,Wed Jun 03 2015 02:00:00 GMT-0700 (PDT)
9211,2012,infiniti,g convertible,g37,g convertible,automatic,ca,4.1,20071.0,black,black,nissan infiniti lt,28500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
10245,2012,infiniti,g convertible,g37,g convertible,automatic,fl,3.1,42094.0,white,gray,nissan infiniti lt,24200,Thu Jun 11 2015 02:15:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434811,2011,infiniti,g convertible,g37,g convertible,automatic,ca,3.9,35525.0,—,black,nissan infiniti lt,24500,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
436036,2012,infiniti,g convertible,g37,g convertible,automatic,fl,3.4,32470.0,—,black,nissan infiniti lt,26400,Tue Mar 03 2015 01:30:00 GMT-0800 (PST)
437831,2011,infiniti,g convertible,g37,g convertible,automatic,tx,2.9,30573.0,black,beige,nissan infiniti lt,23200,Wed Feb 25 2015 02:30:00 GMT-0800 (PST)
438087,2011,infiniti,g convertible,g37,g convertible,automatic,ca,4.1,18368.0,gray,black,nissan infiniti lt,27500,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
439651,2012,infiniti,g convertible,g37,g convertible,automatic,ca,4.1,28635.0,black,black,nissan infiniti lt,24750,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)

In [99]:
data['body']=data['body'].str.replace('g convertible', 'convertible')
data['model']=data['model'].str.replace('g convertible', 'g')

In [101]:
data[data['body']=='g sedan']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
107,2011,infiniti,g sedan,g37 journey,g sedan,automatic,fl,4.3,31153.0,black,beige,nissan infiniti lt,20400,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
160,2013,infiniti,g sedan,g37 journey,g sedan,automatic,fl,4.4,12431.0,gray,black,nissan infiniti lt,23000,Wed Feb 04 2015 01:00:00 GMT-0800 (PST)
195,2013,infiniti,g sedan,g37x,g sedan,automatic,il,2.5,20263.0,gray,black,nissan infiniti lt,21200,Thu May 21 2015 03:00:00 GMT-0700 (PDT)
226,2013,infiniti,g sedan,g37x,g sedan,automatic,tn,4.8,11090.0,blue,black,nissan infiniti lt,24600,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
257,2012,infiniti,g sedan,g37 journey,g sedan,automatic,tn,4.4,13705.0,—,tan,nissan infiniti lt,23200,Wed Jan 28 2015 02:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439845,2012,infiniti,g sedan,g37 journey,g sedan,automatic,fl,3.1,24512.0,gray,black,nissan infiniti lt,20000,Tue Jan 27 2015 01:30:00 GMT-0800 (PST)
439889,2012,infiniti,g sedan,g37 journey,g sedan,automatic,ca,3.7,33889.0,gray,beige,nissan infiniti lt,19500,Wed Jun 17 2015 05:30:00 GMT-0700 (PDT)
439933,2013,infiniti,g sedan,g37x,g sedan,automatic,nj,3.3,20432.0,black,black,nissan infiniti lt,20600,Wed Feb 04 2015 01:30:00 GMT-0800 (PST)
440020,2011,infiniti,g sedan,g25,g sedan,automatic,fl,4.3,44435.0,black,black,nissan infiniti lt,15400,Wed Feb 04 2015 01:00:00 GMT-0800 (PST)
440104,2013,infiniti,g sedan,g37 journey,g sedan,automatic,fl,4.7,20166.0,black,black,nissan infiniti lt,20800,Wed Jun 17 2015 02:40:00 GMT-0700 (PDT)

In [102]:
data['body']=data['body'].str.replace('g sedan', 'sedan')
data['model']=data['model'].str.replace('g sedan', 'g')

In [103]:
data[data['body']=='tsx sport wagon']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
186,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,ca,4.4,23212.0,burgundy,white,l m auto wholesale,22250,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
14301,2012,acura,tsx sport wagon,base,tsx sport wagon,automatic,tn,3.3,39799.0,gray,black,"ahfc/honda lease/trust/hvt, inc. eot acuras",16700,Wed Jan 28 2015 02:30:00 GMT-0800 (PST)
50449,2012,acura,tsx sport wagon,base,tsx sport wagon,automatic,pa,4.1,6536.0,white,beige,best auto wholesale,20750,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
58255,2012,acura,tsx sport wagon,base,tsx sport wagon,automatic,ca,3.8,50117.0,gray,black,weir canyon acura,19250,Wed Feb 11 2015 04:15:00 GMT-0800 (PST)
61113,2011,acura,tsx sport wagon,base,tsx sport wagon,automatic,ga,2.3,45077.0,gray,black,"ahfc/honda lease/trust/hvt, inc. eot acuras",16200,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
74723,2011,acura,tsx sport wagon,base,tsx sport wagon,automatic,ca,2.6,64736.0,black,black,"ahfc/honda lease trust/hvt, inc. eot",16200,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
76516,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,il,3.8,36421.0,black,black,"ahfc/honda lease/trust/hvt, inc. eot acuras",19700,Thu Feb 05 2015 02:00:00 GMT-0800 (PST)
88153,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,pa,2.1,41727.0,off-white,gray,"ahfc/honda lease/trust/hvt, inc. eot acuras",16200,Fri Jan 23 2015 01:00:00 GMT-0800 (PST)
88946,2011,acura,tsx sport wagon,base,tsx sport wagon,automatic,ca,2.8,30109.0,black,gray,"ahfc/honda lease trust/hvt, inc. eot",16600,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
107921,2012,acura,tsx sport wagon,base,tsx sport wagon,automatic,fl,3.9,15277.0,blue,black,acura of orange park,20100,Tue Jan 27 2015 01:30:00 GMT-0800 (PST)
138088,2012,acura,tsx sport wagon,base,tsx sport wagon,automatic,ca,4.1,24456.0,white,beige,reliance motors llc,21300,Thu Feb 19 2015 04:00:00 GMT-0800 (PST)
161710,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,ga,2.5,25569.0,gray,black,"ahfc/honda lease/trust/hvt, inc. eot acuras",17600,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
204519,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,il,3.1,48493.0,white,tan,"ahfc/honda lease/trust/hvt, inc. eot acuras",17700,Thu Jan 08 2015 10:00:00 GMT-0800 (PST)
228583,2013,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,il,4.2,11094.0,gray,black,american honda motor company,24000,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)
254560,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,ga,4.0,32106.0,black,black,"ahfc/honda lease trust/hvt, inc. eot",19200,Thu Jan 15 2015 02:00:00 GMT-0800 (PST)
259591,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,ca,3.8,46341.0,black,black,reliance motors llc,21200,Thu Feb 26 2015 04:00:00 GMT-0800 (PST)
340518,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,nv,4.1,31621.0,gray,black,unique autos,21750,Fri May 22 2015 04:55:00 GMT-0700 (PDT)
345372,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,il,1.9,51760.0,white,beige,"ahfc/honda lease/trust/hvt, inc. eot acuras",15700,Thu Jun 11 2015 03:00:00 GMT-0700 (PDT)
367941,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,ga,3.5,54884.0,off-white,beige,"ahfc/honda lease/trust/hvt, inc. eot acuras",18500,Thu Jan 29 2015 02:00:00 GMT-0800 (PST)
413499,2012,acura,tsx sport wagon,base,tsx sport wagon,automatic,ga,3.9,26259.0,off-white,gray,"ahfc/honda lease/trust/hvt, inc. eot acuras",17700,Thu Jun 18 2015 03:00:00 GMT-0700 (PDT)
435171,2011,acura,tsx sport wagon,base,tsx sport wagon,automatic,fl,4.5,19285.0,black,black,the auto group collection inc,18700,Tue Jun 02 2015 05:00:00 GMT-0700 (PDT)
435558,2012,acura,tsx sport wagon,technology package,tsx sport wagon,automatic,nv,3.4,33642.0,white,beige,"ahfc/honda lease/trust/hvt, inc. eot acuras",19800,Fri Dec 19 2014 12:00:00 GMT-0800 (PST)

In [104]:
data['body']=data['body'].str.replace('tsx sport wagon', 'wagon')
data['model']=data['model'].str.replace('tsx sport wagon', 'tsx sport')

In [105]:
data[data['body']=='e-series van']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
539,2014,ford,e-series van,e-250,e-series van,automatic,nj,3.6,3006.0,white,gray,u-haul,14300,Wed Feb 25 2015 01:30:00 GMT-0800 (PST)
1213,2014,ford,e-series van,e-250,e-series van,automatic,pa,3.8,9432.0,white,black,u-haul,19800,Fri May 22 2015 02:00:00 GMT-0700 (PDT)
1761,2012,ford,e-series van,e-150,e-series van,automatic,mi,4.5,61579.0,white,gray,ge fleet services for itself/servicer,17100,Thu Jan 08 2015 09:30:00 GMT-0800 (PST)
2190,2014,ford,e-series van,e-250,e-series van,automatic,il,4.6,6219.0,white,gray,u-haul,20600,Tue May 26 2015 03:00:00 GMT-0700 (PDT)
2276,2014,ford,e-series van,e-150,e-series van,automatic,wi,2.0,41508.0,white,gray,enterprise vehicle exchange / tra / rental / t...,14000,Wed Jan 21 2015 01:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436855,2014,ford,e-series van,e-250,e-series van,automatic,co,4.9,4930.0,white,gray,u-haul,22900,Wed Feb 04 2015 04:00:00 GMT-0800 (PST)
437092,2014,ford,e-series van,e-250,e-series van,automatic,ca,2.7,12304.0,white,gray,u-haul,18400,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)
437397,2014,ford,e-series van,e-250,e-series van,automatic,ga,3.9,22397.0,white,gray,u-haul,18500,Tue Jun 16 2015 02:30:00 GMT-0700 (PDT)
438121,2014,ford,e-series van,e-250,e-series van,automatic,pa,4.4,15690.0,white,gray,u-haul,20100,Fri Jun 12 2015 02:00:00 GMT-0700 (PDT)
438518,2014,ford,e-series van,e-250,e-series van,automatic,tx,5.0,5350.0,white,gray,u-haul international,20100,Wed Jun 17 2015 03:20:00 GMT-0700 (PDT)

In [106]:
data['body']=data['body'].str.replace('e-series van', 'van')
data['model']=data['model'].str.replace('e-series van', 'e-series')

In [107]:
data[data['body']=='genesis coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
2467,2013,hyundai,genesis coupe,2.0t,genesis coupe,automatic,tx,4.5,18028.0,silver,silver,donlen corporation,18200,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
3546,2013,hyundai,genesis coupe,2.0t,genesis coupe,automatic,nv,4.0,9778.0,black,black,abc hyundai,15500,Fri Jan 23 2015 03:45:00 GMT-0800 (PST)
12391,2013,hyundai,genesis coupe,2.0t,genesis coupe,manual,nc,2.3,17584.0,black,black,everett chevrolet inc,15000,Tue Feb 24 2015 01:15:00 GMT-0800 (PST)
13381,2011,hyundai,genesis coupe,2.0t r-spec,genesis coupe,manual,nc,2.8,56188.0,silver,black,crossroads ford inc,8300,Mon Feb 09 2015 01:00:00 GMT-0800 (PST)
13579,2013,hyundai,genesis coupe,2.0t,genesis coupe,automatic,tx,2.1,20522.0,gray,black,santander consumer,15000,Wed Jan 21 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424544,2013,hyundai,genesis coupe,3.8 track,genesis coupe,manual,pa,4.5,35562.0,white,black,hyundai motor finance,20700,Fri Jun 05 2015 02:00:00 GMT-0700 (PDT)
427431,2011,hyundai,genesis coupe,2.0t r-spec,genesis coupe,automatic,fl,3.7,65701.0,gray,black,capital bank,11900,Wed Feb 11 2015 08:00:00 GMT-0800 (PST)
430181,2013,hyundai,genesis coupe,3.8 track,genesis coupe,manual,fl,3.8,26237.0,silver,black,hyundai motor finance,20400,Tue Jun 16 2015 02:30:00 GMT-0700 (PDT)
434138,2013,hyundai,genesis coupe,2.0t,genesis coupe,manual,ca,3.9,23004.0,black,black,high bid trading co inc,18400,Wed May 27 2015 05:15:00 GMT-0700 (PDT)
434515,2012,hyundai,genesis coupe,3.8 track,genesis coupe,manual,fl,2.4,19412.0,gray,black,santander consumer,16300,Thu Feb 05 2015 01:35:00 GMT-0800 (PST)

In [108]:
data['body']=data['body'].str.replace('genesis coupe', 'coupe')
data['model']=data['model'].str.replace('genesis coupe', 'genesis')

In [109]:
data[data['body']=='g37 coupe']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
4766,2010,infiniti,g37 coupe,x,g37 coupe,automatic,nc,4.0,37440.0,silver,black,national fleet leasing,13700,Mon Jan 19 2015 01:30:00 GMT-0800 (PST)
117144,2010,infiniti,g37 coupe,x,g37 coupe,automatic,nj,3.9,79153.0,blue,black,nissan infiniti lt,15500,Wed Dec 31 2014 09:30:00 GMT-0800 (PST)
189672,2010,infiniti,g37 coupe,x,g37 coupe,automatic,mo,4.7,33949.0,red,gray,tdaf remarketing,19400,Tue Feb 10 2015 02:30:00 GMT-0800 (PST)
257524,2010,infiniti,g37 coupe,x,g37 coupe,automatic,nj,2.0,30666.0,gray,black,affordable dream auto llc,10900,Wed Feb 25 2015 04:00:00 GMT-0800 (PST)
318949,2010,infiniti,g37 coupe,x,g37 coupe,automatic,oh,2.7,41691.0,silver,black,infiniti financial services,16100,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
356965,2010,infiniti,g37 coupe,x,g37 coupe,automatic,nj,2.5,60522.0,black,black,nissan infiniti lt,15400,Wed May 27 2015 02:30:00 GMT-0700 (PDT)
366794,2010,infiniti,g37 coupe,x,g37 coupe,automatic,fl,2.0,54642.0,gray,black,tdaf remarketing,16000,Tue Jan 06 2015 01:00:00 GMT-0800 (PST)
401168,2010,infiniti,g37 coupe,x,g37 coupe,automatic,ca,2.7,46892.0,black,black,nissan infiniti lt,17250,Tue Mar 03 2015 04:30:00 GMT-0800 (PST)
423147,2010,infiniti,g37 coupe,x,g37 coupe,automatic,tn,3.3,94435.0,black,black,nissan infiniti lt,12500,Tue Dec 23 2014 10:30:00 GMT-0800 (PST)

In [110]:
data['body']=data['body'].str.replace('g37 coupe', 'coupe')
data['model']=data['model'].str.replace('g37 coupe', 'g37')

In [111]:
data[data['body']=='beetle convertible']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
4836,2013,volkswagen,beetle convertible,turbo 60's edition,beetle convertible,automatic,fl,4.0,26568.0,black,black,tdaf remarketing,19100,Tue Feb 03 2015 01:00:00 GMT-0800 (PST)
8131,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ga,4.6,8947.0,white,black,"vw credit, inc/pilot",19200,Wed Feb 04 2015 01:30:00 GMT-0800 (PST)
41756,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ga,4.3,23938.0,gray,black,car and truck rentals,17300,Thu Jun 04 2015 02:30:00 GMT-0700 (PDT)
48894,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,oh,4.8,16819.0,—,black,vw credit,18900,Tue Jan 06 2015 01:30:00 GMT-0800 (PST)
51155,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,oh,3.7,11164.0,gray,black,jimmy's love bug sales,15000,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
60557,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ca,4.1,29448.0,—,black,vw credit,17000,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
64929,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,il,4.4,7245.0,gray,black,vw credit prequalified,20800,Tue Jan 13 2015 10:00:00 GMT-0800 (PST)
89622,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,nv,4.7,7906.0,silver,black,findlay acura,20600,Fri Feb 27 2015 04:00:00 GMT-0800 (PST)
114906,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,wa,4.4,14974.0,—,beige,vw credit prequalified,16800,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
118984,2014,volkswagen,beetle convertible,1.8t,beetle convertible,automatic,fl,5.0,4284.0,gray,black,braman honda of palm beach,19500,Thu May 28 2015 02:40:00 GMT-0700 (PDT)
121760,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,manual,mo,4.1,7731.0,red,tan,gmt auto sales inc,18900,Tue Jun 16 2015 04:00:00 GMT-0700 (PDT)
122014,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,ca,4.8,31507.0,white,black,vw credit,19750,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
124077,2013,volkswagen,beetle convertible,2.5l,beetle convertible,automatic,az,4.1,11967.0,white,beige,foursight capital llc,16500,Thu Jan 08 2015 11:00:00 GMT-0800 (PST)
128104,2013,volkswagen,beetle convertible,2.5l,beetle convertible,automatic,ca,4.9,9993.0,—,black,vw credit prequalified,18750,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
145817,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,va,4.2,19069.0,black,black,mazda and volkswagon of fredericksburg,17300,Thu Jan 29 2015 01:35:00 GMT-0800 (PST)
149324,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,fl,4.5,10746.0,—,black,vw credit,20000,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
152225,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,nv,4.0,24144.0,brown,beige,prestige chrysler jeep dodge,17100,Fri May 22 2015 05:00:00 GMT-0700 (PDT)
172414,2014,volkswagen,beetle convertible,r-line pzev,beetle convertible,automatic,ca,4.9,7329.0,red,black,vw credit prequalified,23000,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
195892,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,manual,pa,3.9,6474.0,white,black,vw credit,17200,Fri Jun 05 2015 02:00:00 GMT-0700 (PDT)
198188,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ca,2.3,18004.0,NaN,NaN,vw credit,16750,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
208542,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,nc,3.8,42376.0,brown,black,hendrick mini,15100,Wed Mar 04 2015 06:00:00 GMT-0800 (PST)
240768,2014,volkswagen,beetle convertible,r-line pzev,beetle convertible,automatic,ca,4.4,8335.0,—,black,volkswagen credit inc/sc,20000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
242687,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,fl,2.6,5445.0,black,black,autonation volkswagen delray,9600,Tue Jan 27 2015 01:15:00 GMT-0800 (PST)
244220,2014,volkswagen,beetle convertible,r-line,beetle convertible,automatic,fl,4.9,5229.0,black,red,vw credit,20400,Wed Jan 21 2015 01:30:00 GMT-0800 (PST)
247213,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,nv,4.8,6470.0,black,beige,new century bmw,18250,Thu Jun 11 2015 07:30:00 GMT-0700 (PDT)
254221,2013,volkswagen,beetle convertible,2.5l,beetle convertible,automatic,tx,4.7,16149.0,white,—,remarketing services of el paso,18500,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
260447,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ca,2.1,2346.0,gray,black,vw credit,15000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
277423,2013,volkswagen,beetle convertible,2.5l,beetle convertible,automatic,ca,4.4,28753.0,white,black,coast 2 coast auto wholesale,16750,Tue Feb 10 2015 04:30:00 GMT-0800 (PST)
294193,2013,volkswagen,beetle convertible,tdi,beetle convertible,automatic,ca,3.8,14192.0,—,beige,volkswagen credit inc/sc,18000,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
317051,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ca,4.9,6959.0,—,black,vw credit prequalified,18000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
317970,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,ca,4.8,17098.0,—,black,vw credit prequalified,20750,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
325426,2014,volkswagen,beetle convertible,r-line pzev,beetle convertible,automatic,ca,5.0,243.0,white,tan,premium auto wholesale,22800,Thu Mar 05 2015 04:00:00 GMT-0800 (PST)
332051,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ga,4.2,24448.0,black,black,car and truck rentals,17400,Thu May 28 2015 02:30:00 GMT-0700 (PDT)
343447,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,oh,4.9,6204.0,—,tan,vw credit,17900,Tue Jan 06 2015 01:30:00 GMT-0800 (PST)
371153,2014,volkswagen,beetle convertible,1.8t,beetle convertible,automatic,fl,4.3,27481.0,yellow,black,avis corporation,19000,Thu May 28 2015 02:15:00 GMT-0700 (PDT)
371620,2013,volkswagen,beetle convertible,turbo 60's edition,beetle convertible,automatic,mo,3.4,42709.0,white,red,santander consumer,17000,Wed Feb 25 2015 02:30:00 GMT-0800 (PST)
374765,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ca,4.7,6182.0,white,black,south bay hyundai,17000,Tue Jan 20 2015 04:30:00 GMT-0800 (PST)
378288,2013,volkswagen,beetle convertible,2.5l,beetle convertible,automatic,ms,4.7,34343.0,brown,tan,don's wholesale llc,18000,Thu Jun 18 2015 03:15:00 GMT-0700 (PDT)
386445,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ga,4.6,9291.0,red,black,kern automotive group inc,18100,Tue Mar 10 2015 02:30:00 GMT-0700 (PDT)
387253,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,ca,4.9,11672.0,gray,black,vw credit,19500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
404643,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,nv,4.6,5774.0,beige,black,findlay volkswagen,18000,Fri Jan 16 2015 04:00:00 GMT-0800 (PST)
414432,2014,volkswagen,beetle convertible,r-line pzev,beetle convertible,automatic,ga,4.3,7566.0,—,black,"vw credit, inc/pilot",24000,Wed Feb 04 2015 01:30:00 GMT-0800 (PST)
422810,2013,volkswagen,beetle convertible,2.5l,beetle convertible,automatic,mo,3.5,37675.0,red,tan,car city llc,16200,Wed Feb 11 2015 02:30:00 GMT-0800 (PST)
425941,2013,volkswagen,beetle convertible,tdi,beetle convertible,automatic,fl,4.8,26540.0,white,black,lokey motor company,19400,Thu Jun 11 2015 02:45:00 GMT-0700 (PDT)
426170,2013,volkswagen,beetle convertible,2.5l pzev,beetle convertible,automatic,ca,3.0,27565.0,white,beige,remarketing by ge/affiliated financial corp,15900,Tue Jan 20 2015 11:00:00 GMT-0800 (PST)
436030,2013,volkswagen,beetle convertible,turbo pzev,beetle convertible,automatic,nj,3.9,17017.0,—,beige,"vw credit, inc",19200,Wed Jan 14 2015 01:30:00 GMT-0800 (PST)

In [112]:
data['body']=data['body'].str.replace('beetle convertible', 'convertible')
data['model']=data['model'].str.replace('beetle convertible', 'beetle')

In [114]:
data[data['body']=='promaster cargo van']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
9800,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.9,28129.0,white,gray,budget rac of atlanta,22700,Tue Feb 24 2015 01:30:00 GMT-0800 (PST)
27201,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,fl,4.0,7998.0,white,black,"chrysler group,llc",21000,Mon Feb 16 2015 04:30:00 GMT-0800 (PST)
28800,2014,ram,promaster cargo van,1500 high roof,promaster cargo van,automatic,il,4.9,11136.0,white,black,chrysler capital,21400,Tue Dec 30 2014 10:00:00 GMT-0800 (PST)
34863,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,tn,3.7,20218.0,white,gray,budget rent a car/atlanta,22800,Wed Feb 18 2015 02:00:00 GMT-0800 (PST)
45264,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ca,4.9,6528.0,white,black,aaero sweet company,26000,Thu Feb 12 2015 03:30:00 GMT-0800 (PST)
47068,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,mi,4.9,10622.0,white,black,tdaf remarketing,26500,Thu May 28 2015 02:30:00 GMT-0700 (PDT)
50960,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.8,18907.0,white,black,budget rac of atlanta,23500,Tue Feb 24 2015 01:30:00 GMT-0800 (PST)
52697,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,fl,4.0,6878.0,white,black,"chrysler group,llc",21000,Mon Feb 16 2015 04:30:00 GMT-0800 (PST)
53715,2014,ram,promaster cargo van,1500 high roof,promaster cargo van,automatic,fl,1.9,34978.0,white,gray,chrysler capital,17000,Thu Feb 05 2015 01:35:00 GMT-0800 (PST)
56666,2015,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,fl,4.0,15169.0,white,black,enterprise vehicle exchange-non pgm/orlando,23400,Mon Jun 08 2015 05:30:00 GMT-0700 (PDT)
78398,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,pa,3.6,15336.0,white,black,enterprise veh exchange/rental,21000,Fri Feb 20 2015 09:00:00 GMT-0800 (PST)
96739,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,oh,4.5,24963.0,white,black,enterprise veh exchange/rental,19900,Tue Jan 13 2015 09:30:00 GMT-0800 (PST)
105127,2014,ram,promaster cargo van,1500 high roof,promaster cargo van,automatic,nc,5.0,387.0,white,black,m & l motor co inc,24800,Tue Jan 13 2015 09:30:00 GMT-0800 (PST)
108966,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.5,25454.0,white,black,economy rent a car & sales inc,22600,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
112099,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,il,2.9,32766.0,black,black,chrysler capital,20100,Tue Jun 02 2015 03:00:00 GMT-0700 (PDT)
120287,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,tn,4.7,19064.0,white,gray,budget rent a car/atlanta,23000,Wed Jan 14 2015 02:00:00 GMT-0800 (PST)
170418,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.7,20861.0,white,black,economy rent a car & sales inc,23000,Tue Mar 10 2015 02:30:00 GMT-0700 (PDT)
176302,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,wa,4.9,3088.0,white,black,big billy a/s llc,27600,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
192917,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.5,22756.0,white,black,economy rent a car & sales inc,22500,Tue Feb 17 2015 01:30:00 GMT-0800 (PST)
193070,2014,ram,promaster cargo van,1500 high roof,promaster cargo van,automatic,md,4.3,4760.0,white,—,bavarian motor sport inc,23800,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
195495,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,mo,3.6,21003.0,white,black,ars/kc landsmen,24100,Tue Jun 09 2015 04:00:00 GMT-0700 (PDT)
198860,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,tn,3.9,17449.0,white,black,budget rent a car/atlanta,23500,Wed Feb 18 2015 02:00:00 GMT-0800 (PST)
199757,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,4.1,29326.0,white,black,economy rent a car/ars,21800,Tue Feb 03 2015 01:30:00 GMT-0800 (PST)
203970,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,va,4.0,6009.0,white,black,fca us llc,21400,Thu Jun 04 2015 01:50:00 GMT-0700 (PDT)
207382,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.9,26671.0,white,black,economy rent a car & sales inc,22500,Tue Feb 03 2015 01:30:00 GMT-0800 (PST)
226483,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,mo,4.3,6643.0,white,black,barreth chrysler center inc,25000,Tue Jan 13 2015 11:00:00 GMT-0800 (PST)
247688,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,pa,4.0,4619.0,white,black,spallco enterprises inc/non pgm,27000,Thu May 28 2015 02:30:00 GMT-0700 (PDT)
247745,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ca,4.6,3928.0,silver,black,chrysler capital,22750,Thu Feb 05 2015 04:00:00 GMT-0800 (PST)
266968,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,4.1,14287.0,white,black,budget rac of atlanta,24000,Tue Feb 24 2015 01:30:00 GMT-0800 (PST)
271112,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,mn,5.0,5256.0,white,gray,fca us llc,24600,Wed Jun 17 2015 06:00:00 GMT-0700 (PDT)
272950,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,fl,4.9,3822.0,white,gray,chrysler capital,27400,Thu Feb 26 2015 01:35:00 GMT-0800 (PST)
279953,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,fl,3.6,41144.0,white,gray,enterprise veh exchange/rental,19600,Tue Feb 03 2015 01:30:00 GMT-0800 (PST)
281115,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,tn,4.5,18660.0,white,black,budget rent a car/atlanta,23000,Wed Jan 21 2015 02:00:00 GMT-0800 (PST)
281411,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,mo,4.7,21413.0,white,black,budget of omaha/ars,24300,Tue Feb 03 2015 03:00:00 GMT-0800 (PST)
286218,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,va,3.0,12180.0,white,black,enterprise vehicle exchange/non program,21500,Wed Jan 28 2015 16:00:00 GMT-0800 (PST)
289632,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,fl,4.9,1395.0,white,black,chrysler capital,24400,Thu Feb 05 2015 01:35:00 GMT-0800 (PST)
293406,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.9,21905.0,white,black,economy rent a car & sales inc,23000,Tue Mar 10 2015 02:30:00 GMT-0700 (PDT)
311963,2014,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,pa,3.5,54825.0,white,gray,cash money cars llc,19000,Fri May 22 2015 02:30:00 GMT-0700 (PDT)
340445,2015,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,ca,4.4,20024.0,white,black,enterprise vehicle exchange/orange,22500,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)
361231,2014,ram,promaster cargo van,1500 high roof,promaster cargo van,automatic,tx,3.9,46180.0,white,black,crb auto finance,20100,Thu Jun 11 2015 04:00:00 GMT-0700 (PDT)
379082,2015,ram,promaster cargo van,1500 low roof,promaster cargo van,automatic,nj,2.5,11838.0,white,black,enterprise veh exchange/rental,20500,Wed Jun 10 2015 02:30:00 GMT-0700 (PDT)
425204,2014,ram,promaster cargo van,2500 high roof,promaster cargo van,automatic,ga,3.7,27369.0,white,black,budget rac of atlanta,22500,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)

In [115]:
data['body']=data['body'].str.replace('promaster cargo van', 'van')
data['model']=data['model'].str.replace('promaster cargo vane', 'promaster cargo')

In [116]:
data[data['body']=='cts wagon']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
15239,2010,cadillac,cts wagon,sport,cts wagon,automatic,ca,3.5,54985.0,silver,silver,fivetenauto sales inc,14800,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
34429,2010,cadillac,cts wagon,premium,cts wagon,automatic,nv,NaN,90298.0,white,—,cherokee auto,16700,Fri Dec 19 2014 12:00:00 GMT-0800 (PST)
67714,2010,cadillac,cts wagon,performance,cts wagon,automatic,ga,4.3,37405.0,red,beige,edward colosimo auto sales,19000,Tue Dec 23 2014 09:30:00 GMT-0800 (PST)
75467,2010,cadillac,cts wagon,sport,cts wagon,automatic,ca,4.5,51002.0,black,black,orange coast chrysler jeep dodge,16750,Wed May 06 2015 05:30:00 GMT-0700 (PDT)
103416,2012,cadillac,cts wagon,premium,cts wagon,automatic,mi,5.0,53291.0,white,tan,kevins marysville auto sales inc,23400,Thu Jan 15 2015 01:30:00 GMT-0800 (PST)
248931,2010,cadillac,cts wagon,performance,cts wagon,automatic,mi,4.4,63954.0,white,beige,automobiles paille inc,19200,Thu Feb 26 2015 01:30:00 GMT-0800 (PST)
269166,2012,cadillac,cts wagon,premium,cts wagon,automatic,ca,4.1,26323.0,red,black,fiserv/usb dealer services northstar exchange,26000,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
292100,2010,cadillac,cts wagon,premium,cts wagon,automatic,mi,3.4,80873.0,black,black,automobiles paille inc,12100,Thu Feb 19 2015 09:30:00 GMT-0800 (PST)
320935,2011,cadillac,cts wagon,luxury,cts wagon,automatic,tn,3.8,53688.0,silver,gray,wholesale inc # 2,19000,Wed May 27 2015 03:30:00 GMT-0700 (PDT)

In [117]:
data['body']=data['body'].str.replace('cts wagon', 'wagon')
data['model']=data['model'].str.replace('cts wagon', 'cts')

In [119]:
data[data['body']=='transit van']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
22787,2015,ford,transit van,250 medium roof,transit van,automatic,tn,4.5,4203.0,white,—,ford-lincoln dealer program,27000,Wed Mar 04 2015 02:30:00 GMT-0800 (PST)
56560,2015,ford,transit van,250 low roof,transit van,automatic,mi,3.7,15364.0,white,gray,ars/enterprise,25100,Thu May 28 2015 02:00:00 GMT-0700 (PDT)
73077,2015,ford,transit van,250 low roof,transit van,automatic,tn,4.7,22722.0,white,gray,ars/enterprise,24900,Wed Jun 17 2015 03:30:00 GMT-0700 (PDT)
81861,2015,ford,transit van,150 low roof,transit van,automatic,fl,4.3,19179.0,white,gray,enterprise veh exchange/rental,22700,Tue Jun 02 2015 02:15:00 GMT-0700 (PDT)
108922,2015,ford,transit van,250 high roof,transit van,automatic,nj,1.9,9351.0,white,gray,enterprise veh exchange/rental,19500,Wed Jun 03 2015 02:30:00 GMT-0700 (PDT)
120356,2015,ford,transit van,250 low roof,transit van,automatic,wi,2.8,8163.0,white,gray,remarketing by ge/bwas,24600,Wed Jun 17 2015 03:00:00 GMT-0700 (PDT)
146322,2015,ford,transit van,250 medium roof,transit van,automatic,va,3.4,13049.0,white,gray,enterprise veh exchange/rental,24900,Thu May 28 2015 02:20:00 GMT-0700 (PDT)
199281,2015,ford,transit van,250 high roof,transit van,automatic,tn,4.8,18668.0,white,black,budget rent a car/atlanta,25800,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
371616,2015,ford,transit van,150 low roof,transit van,automatic,nj,4.3,6006.0,white,gray,northeast leasing,23200,Wed Jun 03 2015 02:30:00 GMT-0700 (PDT)
372177,2015,ford,transit van,250 high roof,transit van,automatic,ga,4.5,18397.0,white,black,budget rac of atlanta,25500,Tue Jun 16 2015 02:30:00 GMT-0700 (PDT)
376792,2015,ford,transit van,250 high roof,transit van,automatic,nj,4.0,23033.0,white,gray,enterprise veh exchange/rental,25250,Wed Jun 03 2015 02:30:00 GMT-0700 (PDT)
386501,2015,ford,transit van,250 low roof,transit van,automatic,ga,3.6,8317.0,white,gray,enterprise vehicle exchange / tra / rental / t...,19500,Wed Jul 08 2015 07:00:00 GMT-0700 (PDT)
416402,2015,ford,transit van,250 medium roof,transit van,automatic,fl,4.0,21640.0,white,gray,enterprise rent a car,24800,Thu May 21 2015 02:00:00 GMT-0700 (PDT)
425678,2015,ford,transit van,250 low roof,transit van,automatic,ny,3.4,12563.0,white,gray,ars/enterprise,24400,Wed Jun 03 2015 02:20:00 GMT-0700 (PDT)

In [120]:
data['body']=data['body'].str.replace('transit van', 'van')
data['model']=data['model'].str.replace('transit van', 'transit')

In [121]:
data[data['body']=='ram van']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
113173,2000,dodge,ram van,1500,ram van,automatic,ca,1.9,106595.0,—,gray,j & e auto sales,1200,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)

In [122]:
data['body']=data['body'].str.replace('ram van', 'van')
data['model']=data['model'].str.replace('ram van', 'ram')

In [125]:
data[data['body']=='granturismo convertible']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
113352,2011,maserati,granturismo convertible,base,granturismo convertible,automatic,ca,4.6,9609.0,black,black,rusnak pasadena jaguar sterling pasadena,75000,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
181256,2012,maserati,granturismo convertible,base,granturismo convertible,automatic,fl,4.5,6222.0,black,beige,florida european inc,90000,Wed Jun 17 2015 04:05:00 GMT-0700 (PDT)
184667,2012,maserati,granturismo convertible,base,granturismo convertible,automatic,ca,4.0,5256.0,black,black,jn group inc,83000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
221122,2011,maserati,granturismo convertible,base,granturismo convertible,automatic,ca,4.5,16088.0,silver,black,eurocar,69500,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
260732,2011,maserati,granturismo convertible,base,granturismo convertible,automatic,tx,3.1,38361.0,gray,brown,motorcars of south texas,64000,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
278140,2011,maserati,granturismo convertible,base,granturismo convertible,automatic,ca,3.9,10129.0,gray,black,desert european motorcars,65500,Thu Feb 26 2015 04:00:00 GMT-0800 (PST)
290496,2012,maserati,granturismo convertible,base,granturismo convertible,automatic,fl,3.1,13261.0,white,brown,braman motors,76000,Thu May 28 2015 02:40:00 GMT-0700 (PDT)
438278,2011,maserati,granturismo convertible,base,granturismo convertible,automatic,fl,4.0,14721.0,white,beige,the collection,73500,Thu Jan 08 2015 09:15:00 GMT-0800 (PST)

In [126]:
data['body']=data['body'].str.replace('granturismo convertible', 'convertible')
data['model']=data['model'].str.replace('granturismo convertible', 'granturismo')

In [127]:
data['body'].unique()

array(['suv', 'sedan', 'wagon', 'minivan', 'regular cab', 'coupe',
       'supercrew', 'extended cab', 'convertible', 'supercab',
       'hatchback', 'access cab', 'quad cab', 'crew cab', 'van', 'koup',
       'king cab', 'double cab', 'crewmax cab', 'club cab', 'mega cab',
       'regular-cab', 'xtracab', 'cab plus 4', 'cab plus'], dtype=object)

In [128]:
#Ну вроди навели порядок в типе кузова

In [130]:
sorted(data['model'].unique())

['1 series',
 '1500',
 '190-class',
 '2 series',
 '200',
 '200sx',
 '2500',
 '3',
 '3 series',
 '3 series gran turismo',
 '300',
 '300-class',
 '3000gt',
 '300m',
 '300zx',
 '3500',
 '350z',
 '370z',
 '4 series',
 '4 series gran coupe',
 '400-class',
 '420-class',
 '458 italia',
 '4runner',
 '5 series',
 '5 series gran turismo',
 '500',
 '500-class',
 '500e',
 '500l',
 '6',
 '6 series',
 '6 series gran coupe',
 '626',
 '7 series',
 '8 series',
 '850',
 '9-2x',
 '9-3',
 '9-5',
 '9-7x',
 '911',
 '940',
 '960',
 'a3',
 'a4',
 'a5',
 'a6',
 'a7',
 'a8',
 'acadia',
 'accent',
 'accord',
 'accord crosstour',
 'accord hybrid',
 'activehybrid 5',
 'activehybrid 7',
 'activehybrid x6',
 'aerio',
 'alero',
 'allroad',
 'allroad quattro',
 'altima',
 'altima hybrid',
 'amanti',
 'amigo',
 'armada',
 'ascender',
 'aspen',
 'aspire',
 'astra',
 'astro',
 'astro cargo',
 'ats',
 'aura',
 'aura hybrid',
 'aurora',
 'avalanche',
 'avalon',
 'avalon hybrid',
 'avenger',
 'aveo',
 'aviator',
 'axiom',
 'azera',
 'aztek',
 'b-class electric drive',
 'b-series pickup',
 'b-series truck',
 'b9 tribeca',
 'baja',
 'beetle',
 'black diamond avalanche',
 'blackwood',
 'blazer',
 'bonneville',
 'borrego',
 'boxster',
 'bravada',
 'breeze',
 'brz',
 'c-class',
 'c-max energi',
 'c-max hybrid',
 'c/k 1500 series',
 'c/k 2500 series',
 'c/k 3500 series',
 'c/v cargo van',
 'c/v tradesman',
 'c30',
 'c70',
 'cabrio',
 'cadenza',
 'caliber',
 'california',
 'camaro',
 'camry',
 'camry hybrid',
 'camry solara',
 'canyon',
 'caprice',
 'captiva sport',
 'caravan',
 'catera',
 'cavalier',
 'cayenne',
 'cayman',
 'cayman s',
 'cc',
 'celica',
 'century',
 'challenger',
 'charger',
 'cherokee',
 'cirrus',
 'civic',
 'civic del sol',
 'cl',
 'cl-class',
 'cla-class',
 'classic',
 'clk-class',
 'cls-class',
 'cobalt',
 'colorado',
 'commander',
 'compass',
 'concorde',
 'continental',
 'continental flying spur',
 'continental flying spur speed',
 'continental gt',
 'continental gt speed',
 'continental gtc',
 'continental gtc speed',
 'continental supersports',
 'contour',
 'cooper',
 'cooper clubman',
 'cooper countryman',
 'cooper coupe',
 'cooper paceman',
 'cooper roadster',
 'corolla',
 'corsica',
 'corvette',
 'corvette stingray',
 'cougar',
 'coupe',
 'cr-v',
 'cr-z',
 'crossfire',
 'crosstour',
 'crown victoria',
 'cruze',
 'ct 200h',
 'cts',
 'cts-v',
 'cube',
 'cutlass',
 'cutlass ciera',
 'cutlass supreme',
 'cv tradesman',
 'cx-5',
 'cx-7',
 'cx-9',
 'dakota',
 'dart',
 'db9',
 'deville',
 'diamante',
 'discovery',
 'discovery series ii',
 'dts',
 'durango',
 'e-150',
 'e-250',
 'e-350',
 'e-class',
 'e-series',
 'e-series wagon',
 'echo',
 'eclipse',
 'eclipse spyder',
 'econoline cargo',
 'econoline wagon',
 'edge',
 'eighty-eight',
 'eighty-eight royale',
 'elantra',
 'elantra ',
 'elantra gt',
 'elantra touring',
 'eldorado',
 'element',
 'elr',
 'enclave',
 'encore',
 'endeavor',
 'entourage',
 'envoy',
 'envoy xl',
 'envoy xuv',
 'eos',
 'equator',
 'equinox',
 'equus',
 'es 300',
 'es 300h',
 'es 330',
 'es 350',
 'escalade',
 'escalade esv',
 'escalade ext',
 'escalade hybrid',
 'escape',
 'escape hybrid',
 'escort',
 'esteem',
 'eurovan',
 'ex',
 'ex35',
 'excursion',
 'expedition',
 'expedition el',
 'explorer',
 'explorer sport',
 'explorer sport trac',
 'express',
 'express cargo',
 'f-150',
 'f-150 heritage',
 'f-150 svt lightning',
 'f-250 super duty',
 'f-350 super duty',
 'f-450 super duty',
 'f-type',
 'f430',
 'fiesta',
 'firebird',
 'fit',
 'five hundred',
 'fj cruiser',
 'flex',
 'focus',
 'focus st',
 'forenza',
 'forester',
 'forte',
 'fortwo',
 'fr-s',
 'freelander',
 'freestar',
 'freestyle',
 'frontier',
 'fusion',
 'fusion energi',
 'fusion hybrid',
 'fx',
 'fx35',
 'fx45',
 'fx50',
 'g',
 'g-class',
 'g20',
 'g3',
 'g35',
 'g37',
 'g5',
 'g6',
 'g8',
 'galant',
 'gallardo',
 'genesis',
 'ghibli',
 'ghost',
 'gl-class',
 'gla-class',
 'gli',
 'glk-class',
 'golf',
 'golf gti',
 'golf r',
 'grand am',
 'grand caravan',
 'grand cherokee',
 'grand marquis',
 'grand prix',
 'grand vitara',
 'gransport',
 'granturismo',
 'gs 300',
 'gs 350',
 'gs 400',
 'gs 430',
 'gs 450h',
 'gs 460',
 'gt-r',
 'gti',
 'gto',
 'gx 460',
 'gx 470',
 'h1',
 'h2',
 'h2 sut',
 'h3',
 'h3t',
 'hhr',
 'highlander',
 'highlander hybrid',
 'hs 250h',
 'i-miev',
 'i-series',
 'i30',
 'i35',
 'i8',
 'ilx',
 'impala',
 'impala limited',
 'impreza',
 'impreza wrx',
 'insight',
 'integra',
 'intrepid',
 'intrigue',
 'ion',
 'iq',
 'is 250',
 'is 250 c',
 'is 300',
 'is 350',
 'is 350 c',
 'is f',
 'j30',
 'jetta',
 'jetta gli',
 'jetta hybrid',
 'jetta sportwagen',
 'jimmy',
 'journey',
 'juke',
 'jx',
 'k900',
 'karma',
 'kizashi',
 'l-series',
 'l300',
 'lacrosse',
 'lancer',
 'lancer evolution',
 'lancer sportback',
 'land cruiser',
 'le baron',
 'leaf',
 'legacy',
 'legend',
 'lesabre',
 'lhs',
 'liberty',
 'lr2',
 'lr3',
 'lr4',
 'ls',
 'ls 400',
 'ls 430',
 'ls 460',
 'ls 600h l',
 'lucerne',
 'lumina',
 'lx 450',
 'lx 470',
 'lx 570',
 'm',
 'm-class',
 'm3',
 'm35',
 'm37',
 'm4',
 'm45',
 'm5',
 'm56',
 'm6',
 'm6 gran coupe',
 'macan',
 'magnum',
 'malibu',
 'malibu classic',
 'malibu hybrid',
 'malibu maxx',
 'marauder',
 'mariner',
 'mariner hybrid',
 'mark lt',
 'mark viii',
 'matrix',
 'maxima',
 'mazda2',
 'mazda3',
 'mazda5',
 'mazda6',
 'mazdaspeed 3',
 'mazdaspeed mazda3',
 'mazdaspeed mazda6',
 'mazdaspeed mx-5 miata',
 'mazdaspeed protege',
 'mazdaspeed3',
 'mdx',
 'metro',
 'milan',
 'milan hybrid',
 'millenia',
 'mirage',
 'mkc',
 'mks',
 'mkt',
 'mkx',
 'mkz',
 'mkz hybrid',
 'ml55 amg',
 'model s',
 'montana',
 'montana sv6',
 'monte carlo',
 'montego',
 'monterey',
 'montero',
 'montero sport',
 'mountaineer',
 'mpv',
 'mr2 spyder',
 'murano',
 'murano crosscabriolet',
 'mustang',
 'mustang svt cobra',
 'mx-5 miata',
 'mystique',
 'navigator',
 'navigator l',
 'neon',
 'new beetle',
 'nitro',
 'nubira',
 'nv',
 'nv cargo',
 'nv passenger',
 'nv200',
 'odyssey',
 'optima',
 'outback',
 'outlander',
 'outlander sport',
 'outlook',
 'pacifica',
 'panamera',
 'park avenue',
 'paseo',
 'passat',
 'passport',
 'pathfinder',
 'patriot',
 'phaeton',
 'pickup',
 'pilot',
 'prelude',
 'prius',
 'prius c',
 'prius plug-in',
 'prius v',
 'prizm',
 'promaster cargo van',
 'protege',
 'protege5',
 'prowler',
 'pt cruiser',
 'q3',
 'q45',
 'q5',
 'q50',
 'q60',
 'q7',
 'q70',
 'quattroporte',
 'quest',
 'qx',
 'qx4',
 'qx50',
 'qx56',
 'qx60',
 'qx70',
 'qx80',
 'r-class',
 'r32',
 'r8',
 'rabbit',
 'raider',
 'rainier',
 'ram',
 'ram cargo',
 'ram pickup 1500',
 'ram pickup 2500',
 'ram pickup 3500',
 'range rover',
 'range rover evoque',
 'range rover sport',
 'ranger',
 'rapide',
 'rav4',
 'rc 350',
 'rc f',
 'rdx',
 'regal',
 'regency',
 'relay',
 'rendezvous',
 'reno',
 'ridgeline',
 'rio',
 'riviera',
 'rl',
 'rlx',
 'roadmaster',
 'rodeo',
 'rodeo sport',
 'rogue',
 'rogue select',
 'rondo',
 'routan',
 'rs 4',
 'rs 5',
 'rs 6',
 'rs 7',
 'rsx',
 'rx 300',
 'rx 330',
 'rx 350',
 'rx 400h',
 'rx 450h',
 'rx-8',
 's-10',
 's-10 blazer',
 's-class',
 's-series',
 's-type',
 's2000',
 's4',
 's40',
 's5',
 's6',
 's60',
 's7',
 's70',
 's8',
 's80',
 's90',
 'sable',
 'safari',
 'safari cargo',
 'santa fe',
 'santa fe sport',
 'savana',
 'savana cargo',
 'sc 300',
 'sc 400',
 'sc 430',
 'sebring',
 'sedona',
 'sentra',
 'sephia',
 'sequoia',
 'seville',
 'shelby gt500',
 'sienna',
 'sierra 1500',
 'sierra 1500 classic',
 'sierra 1500 hybrid',
 'sierra 1500hd',
 'sierra 2500',
 'sierra 2500hd',
 'sierra 2500hd classic',
 'sierra 3500',
 'sierra 3500hd',
 'silhouette',
 'silverado 1500',
 'silverado 1500 classic',
 'silverado 1500 hybrid',
 'silverado 1500hd',
 'silverado 2500',
 'silverado 2500hd',
 'silverado 2500hd classic',
 'silverado 3500',
 'silverado 3500 classic',
 'silverado 3500hd',
 'sky',
 'sl-class',
 'slk-class',
 'sls amg',
 'solstice',
 'sonata',
 'sonata hybrid',
 'sonic',
 'sonoma',
 'sorento',
 'soul',
 'spark',
 'spark ev',
 'spectra',
 'spirit',
 'sportage',
 'sprinter',
 'sprinter cargo',
 'spyder',
 'sq5',
 'srx',
 'ss',
 'ssr',
 'stratus',
 'sts',
 'sts-v',
 'suburban',
 'sunfire',
 'sx4',
 't100',
 'tacoma',
 'tahoe',
 'tahoe hybrid',
 'tahoe limited/z71',
 'taurus',
 'taurus x',
 'tc',
 'tempo',
 'tercel',
 'terrain',
 'terraza',
 'thunderbird',
 'tiburon',
 'tiguan',
 'titan',
 'tl',
 'torrent',
 'touareg',
 'touareg 2',
 'town and country',
 'town car',
 'tracer',
 'tracker',
 'trailblazer',
 'trailblazer ext',
 'transit',
 'transit connect',
 'transit wagon',
 'traverse',
 'tribeca',
 'tribute',
 'tribute hybrid',
 'trooper',
 'truck',
 'tsx',
 'tsx sport',
 'tt',
 'tt rs',
 'tts',
 'tucson',
 'tundra',
 'uplander',
 'v40',
 'v50',
 'v60',
 'v70',
 'v8 vantage',
 'veloster',
 'venture',
 'venza',
 'veracruz',
 'verano',
 'verona',
 'versa',
 'versa note',
 'vibe',
 'villager',
 'viper',
 'vitara',
 'volt',
 'voyager',
 'vue',
 'vue hybrid',
 'windstar',
 'windstar cargo',
 'wrangler',
 'wrx',
 'x-type',
 'x1',
 'x3',
 'x4',
 'x5',
 'x5 m',
 'x6',
 'x6 m',
 'xa',
 'xb',
 'xc',
 'xc60',
 'xc70',
 'xc90',
 'xd',
 'xf',
 'xg300',
 'xg350',
 'xj',
 'xj-series',
 'xk',
 'xk-series',
 'xl-7',
 'xl7',
 'xlr',
 'xterra',
 'xts',
 'xv crosstrek',
 'yaris',
 'yukon',
 'yukon denali',
 'yukon hybrid',
 'yukon xl',
 'z3',
 'z4',
 'z4 m',
 'zdx',
 'zephyr']

In [131]:
#при беглом осмотре ничего не вызвало подозрений

In [132]:
sorted(data['trim'].unique())

['!',
 '(1999.5) xe',
 '+',
 '1',
 '1.6',
 '1.6 base',
 '1.6 s',
 '1.6 s plus',
 '1.6 sl',
 '1.6 sv',
 '1.8',
 '1.8 base',
 '1.8 krom',
 '1.8 s',
 '1.8 s krom edition',
 '1.8 sl',
 '1.8 tfsi premium',
 '1.8 tfsi premium plus',
 '1.8t',
 '1.8t avant quattro',
 '1.8t classic',
 '1.8t quattro',
 '1.9',
 '10th anniversary',
 '128i',
 '128i sulev',
 '135i',
 '135is',
 '150 low roof',
 '1500',
 '1500 high roof',
 '1500 low roof',
 '1500 ls',
 '1500 lt',
 '1500 lt1',
 '1500 ltz',
 '1500 maxi',
 '1500 s',
 '1500 sle',
 '1500 slt',
 '1500 sv',
 '1794',
 '1794 ffv',
 '180hp',
 '180hp quattro',
 '190e 2.3',
 '1ls fleet',
 '1lt',
 '1lt fleet',
 '1ss',
 '2',
 '2.0',
 '2.0 s',
 '2.0 sl',
 '2.0 sr',
 '2.0 tdi premium',
 '2.0 tfsi premium plus quattro',
 '2.0 tfsi prestige quattro',
 '2.0i',
 '2.0i limited pzev',
 '2.0i premium pzev',
 '2.0i pzev',
 '2.0i sport limited pzev',
 '2.0i sport premium pzev',
 '2.0l tdi',
 '2.0t',
 '2.0t avant premium quattro',
 '2.0t avant quattro',
 '2.0t premium',
 '2.0t premium avant quattro',
 '2.0t premium plus',
 '2.0t premium plus quattro',
 '2.0t premium quattro',
 '2.0t premium quattro ',
 '2.0t prestige',
 '2.0t prestige quattro',
 '2.0t pzev',
 '2.0t pzev premium',
 '2.0t quattro',
 '2.0t r-spec',
 '2.0t sportcombi',
 '2.0t turbo ',
 '2.0t turbo pzev',
 '2.0t white turbo launch edition',
 '2.0t white turbo launch edition pzev',
 '2.0xt premium',
 '2.0xt touring',
 '2.2',
 '2.2 premium',
 '2.3',
 '2.3 premium',
 '2.3t',
 '2.4',
 '2.4i',
 '2.4m',
 '2.4t',
 '2.5',
 '2.5 gt',
 '2.5 gt limited',
 '2.5 i',
 '2.5 i limited',
 '2.5 premium',
 '2.5 pzev',
 '2.5 rs',
 '2.5 s',
 '2.5 sl',
 '2.5 sv',
 '2.5 ts',
 '2.5 x',
 '2.5 x l.l.bean edition',
 '2.5 x premium package',
 '2.5 xt',
 '2.5 xt limited',
 '2.5gt limited',
 '2.5i',
 '2.5i limited',
 '2.5i limited pzev',
 '2.5i premium',
 '2.5i premium pzev',
 '2.5i pzev',
 '2.5i special edition',
 '2.5i sport',
 '2.5i sport pzev',
 '2.5i touring pzev',
 '2.5l',
 '2.5l ',
 '2.5l blush edition',
 '2.5l final edition pzev',
 '2.5l pzev',
 '2.5l red rock edition',
 '2.5l red rock edition pzev',
 '2.5t',
 '2.5x',
 '2.5x limited',
 '2.5x limited pzev',
 '2.5x premium',
 '2.5x premium pzev',
 '2.5x pzev',
 '2.5x touring',
 '2.5x touring pzev',
 '2.5xt',
 '2.5xt limited',
 '2.5xt premium',
 '2.5xt touring',
 '2.7t quattro',
 '2.7t s-line quattro',
 '2.8',
 '2.8 avant quattro',
 '2.8 quattro',
 '2.9',
 '225hp quattro',
 '228i',
 '250 high roof',
 '250 low roof',
 '250 medium roof',
 '2500',
 '2500 118 wb',
 '2500 140 wb',
 '2500 144 wb',
 '2500 144 wb cargo',
 '2500 144 wb crew',
 '2500 144 wb passenger',
 '2500 170 wb',
 '2500 170 wb cargo',
 '2500 170 wb passenger',
 '2500 high ceiling 118 wb',
 '2500 high roof',
 '2500 high roof 140 wb',
 '2500 high roof 158 wb',
 '2500 ls',
 '2500 lt',
 '2500 s',
 '2500 sh ceiling 140 wb',
 '2500 sle',
 '2500 sv',
 '250hp quattro',
 '25th anniversary',
 '2ls fleet',
 '2lt',
 '2ss',
 '3',
 '3.0',
 '3.0 avant quattro',
 '3.0 premium',
 '3.0 quattro',
 '3.0 r',
 '3.0 r l.l.bean edition',
 '3.0 r limited',
 '3.0 r vdc limited',
 '3.0i',
 '3.0l',
 '3.0l sportwagon',
 '3.0r limited',
 '3.0si',
 '3.0t premium plus quattro',
 '3.0t premium quattro',
 '3.0t prestige quattro',
 '3.0t quattro',
 '3.0t s line prestige quattro',
 '3.2',
 '3.2 ',
 '3.2 avant quattro',
 '3.2 premier plus',
 '3.2 premium',
 '3.2 premium plus quattro',
 '3.2 premium quattro',
 '3.2 quattro',
 '3.2 r-design',
 '3.2 special edition',
 '3.2 type-s',
 '3.2l',
 '3.5',
 '3.5 premium',
 '3.5 s',
 '3.5 se',
 '3.5 se-r',
 '3.5 sl',
 '3.5 special edition',
 '3.5 sr',
 '3.5 sv',
 '3.5l',
 '3.5xs',
 '3.6',
 '3.6 4motion',
 '3.6 premium quattro',
 '3.6 quattro',
 '3.6r limited',
 '3.6r premium',
 '3.6r touring',
 '3.8',
 '3.8 grand touring',
 '3.8 r-spec',
 '3.8 track',
 '3.8 ultimate',
 '300e',
 '300e 2.8',
 '300sl',
 '318i',
 '318ti',
 '320i',
 '320i xdrive',
 '323ci',
 '323i',
 '323is',
 '325ci',
 '325i',
 '325is',
 '325xi',
 '328ci',
 '328d',
 '328d xdrive',
 '328i',
 '328i sulev',
 '328i xdrive',
 '328i xdrive sulev',
 '328is',
 '328xi',
 '330ci',
 '330i',
 '330xi',
 '335d',
 '335i',
 '335i xdrive',
 '335is',
 '335xi',
 '350 xl high roof',
 '350 xl low roof',
 '350 xl medium roof',
 '3500',
 '3500 170 wb',
 '3500 170 wb cargo',
 '3500 high roof 140 wb',
 '3500 high roof 158 wb',
 '3500 s',
 '3500 sh ceiling 158 wb',
 '3500 sv',
 '4',
 '4.0',
 '4.0 s',
 '4.0 se',
 '4.0t quattro',
 '4.2',
 '4.2 premium quattro',
 '4.2 prestige quattro',
 '4.2 quattro',
 '4.2 quattro spyder',
 '4.2i',
 '4.4i',
 '4.6',
 '4.6 hse',
 '4.6 se',
 '4.6 vitesse',
 '4.6is',
 '4.8i',
 '4.8is',
 '400sel',
 '420sel',
 '427',
 '428i',
 '428i sulev',
 '428i xdrive',
 '428i xdrive sulev',
 '435i',
 '435i xdrive',
 '454ss',
 '4s',
 '5-passenger',
 '5.0',
 '5.0 r-spec',
 '5.2 quattro',
 '5.2 quattro spyder',
 '5.3i',
 '500sl',
 '50th anniversary',
 '525i',
 '525xi',
 '528i',
 '528i xdrive',
 '528xi',
 '530i',
 '530xi',
 '535d',
 '535d xdrive',
 '535i',
 '535i xdrive',
 '535xi',
 '540i',
 '545i',
 '550i',
 '550i xdrive',
 '60',
 '60th anniversary',
 '640i',
 '640i xdrive',
 '645ci',
 '650i',
 '650i xdrive',
 '7-passenger',
 '70th anniversary',
 '740i',
 '740il',
 '740ld xdrive',
 '740li',
 '740li xdrive',
 '745i',
 '745li',
 '750i',
 '750i xdrive',
 '750il',
 '750li',
 '750li xdrive',
 '760li',
 '85',
 '850i',
 'abarth',
 'activehybrid 3',
 'activehybrid 5',
 'adrenalin',
 'advance and entertainment packages',
 'advance package',
 'advanced',
 'aero',
 'aero sportcombi',
 'alpha',
 'altitude',
 'altitude edition',
 'american value package',
 'arc',
 'arc 2.3t',
 'arc 3.0t',
 'autobahn',
 'autobahn pzev',
 'autobiography',
 'avant quattro',
 'aveo5 1lt',
 'aveo5 2lt',
 'aveo5 ls',
 'aveo5 special value',
 'b2300',
 'b2500 se',
 'b3000',
 'b3000 dual sport',
 'b3000 se',
 'b4000',
 'b4000 se',
 'base',
 'base (1999.5)',
 'base 7-passenger',
 'base pzev',
 'bev',
 'bi-color edition',
 'big horn',
 'bighorn',
 'black edition',
 'black tie edition',
 'blue',
 'boss 302',
 'brabus cabriolet',
 'brabus coupe',
 'bullitt',
 'c',
 'c abarth',
 'c hemi',
 'c john varvatos',
 'c john varvatos luxury',
 'c lounge',
 'c luxury series',
 'c pop',
 'c/v',
 'c220',
 'c230',
 'c230 kompressor',
 'c230 sport',
 'c240',
 'c240 4matic',
 'c240 luxury',
 'c240 luxury 4matic',
 'c250',
 'c250 sport',
 'c280',
 'c280 luxury',
 'c280 luxury 4matic',
 'c300',
 'c300 luxury',
 'c300 luxury 4matic',
 'c300 sport',
 'c300 sport 4matic',
 'c32 amg',
 'c320',
 'c320 4matic',
 'c320 luxury 4matic',
 'c320 sport',
 'c350',
 'c350 4matic',
 'c350 luxury',
 'c350 luxury 4matic',
 'c350 sport',
 'c55 amg',
 'c63 amg',
 'cambiocorsa',
 'cargo',
 'cargo van xl',
 'cargo van xl lwb',
 'cargo van xlt',
 'cargo van xlt lwb',
 'carrera',
 'carrera 4',
 'carrera 4 gts',
 'carrera 4s',
 'carrera black edition',
 'carrera s',
 'carrera s (midyear redesign)',
 'cartier',
 'ce',
 'ce 7-passenger',
 'cheyenne',
 'choice',
 'cinco',
 'citadel',
 'cl500',
 'cl55 amg',
 'cl550',
 'cl550 4matic',
 'cl600',
 'cl63 amg',
 'cl65 amg',
 'cla250',
 'cla250 4matic',
 'cla45 amg',
 'classic',
 'clk320',
 'clk350',
 'clk430',
 'clk500',
 'clk55 amg',
 'clk550',
 'clk63 amg',
 'cloth',
 'cls500',
 'cls55 amg',
 'cls550',
 'cls550 4matic',
 'cls63 amg',
 'cls63 amg 4matic s-model',
 'club',
 'concours',
 'convenience',
 'convenience group',
 'convenience group 2',
 'country',
 'crew',
 'crossover',
 'crossroad',
 'custom',
 'cx',
 'cxl',
 'cxl plus',
 'cxl premium',
 'cxl turbo',
 'cxl1',
 'cxl2',
 'cxs',
 "d'elegance",
 'dark flint edition',
 'de',
 'deluxe',
 'denali',
 'detonator',
 'dhs',
 'diamond edition',
 'diesel',
 "driver's edition pzev",
 'dts',
 'duro cross v6',
 'duro cross v8',
 'dx',
 'dx v6',
 'dx-v6',
 'dx-vp',
 'dynamic premium',
 'e-150',
 'e-150 xl',
 'e-150 xlt',
 'e-250',
 'e-350 super duty',
 'e-350 super duty chateau',
 'e-350 super duty xl',
 'e-350 super duty xlt',
 'e250 sport bluetec',
 'e300d',
 'e320',
 'e320 4matic',
 'e320 bluetec',
 'e320 cdi',
 'e350',
 'e350 4matic',
 'e350 bluetec',
 'e350 luxury',
 'e350 luxury 4matic',
 'e350 sport',
 'e350 sport 4matic',
 'e350 sport bluetec',
 'e400 hybrid',
 'e420',
 'e430',
 'e430 4matic',
 'e500',
 'e500 4matic',
 'e55 amg',
 'e550',
 'e550 4matic',
 'e550 sport 4matic',
 'e63 amg',
 'e63 amg 4matic',
 'e63 amg 4matic s-model',
 'easy',
 'ebony edition',
 'ec',
 'eco',
 'eco-sport',
 'ecoboost',
 'econoline',
 'eddie bauer',
 'edge',
 'edge plus',
 'edition 30 pzev',
 'el',
 'el king ranch',
 'el limited',
 'el ssv fleet',
 'el xl',
 'el xlt',
 'electric',
 'electric drive cabriolet',
 'electric drive coupe',
 'enthusiast',
 'es',
 'es v6',
 'es-sport',
 'es-v6',
 'esc',
 'etc',
 'ewb',
 'ex',
 'ex hybrid',
 'ex pzev',
 'ex special edition',
 'ex turbo',
 'ex v-6',
 'ex v6',
 'ex-l',
 'ex-l v-6',
 'ex-l v-6 w/navigation',
 'ex-l w/navigation',
 'ex-l w/rear entertainment',
 'ex-p',
 'ex35',
 'ex35 journey',
 'executive',
 'executive gt duoselect',
 'executive l fleet',
 'executive pzev',
 'executive sulev',
 'express',
 'expresso',
 'ext lt',
 'f sport',
 'family value',
 'fe+ s',
 'fe+ sv',
 'five',
 'fleet',
 'formula',
 'forte5 ex',
 'fx2',
 'fx35',
 'fx37',
 'fx4',
 'fx4 level ii',
 'fx4 off-road',
 'fx50',
 'g',
 'g1500',
 'g25',
 'g25 journey',
 'g25x',
 'g3500',
 'g37',
 'g37 journey',
 'g37 sport',
 'g37x',
 'g500',
 'g55 amg',
 'g550',
 'g63 amg',
 'gl',
 'gl (1999.5)',
 'gl 1.8t',
 'gl pzev',
 'gl tdi',
 'gl v6',
 'gl1',
 'gl2',
 'gl320 bluetec',
 'gl320 cdi',
 'gl350 bluetec',
 'gl350 bluetec 4matic',
 'gl4',
 'gl450',
 'gl450 4matic',
 'gl550',
 'gl550 4matic',
 'gl63 amg',
 'gla250 4matic',
 'gle',
 'gli',
 'gli 1.8t',
 'gli vr6',
 'glk250 bluetec 4matic',
 'glk350',
 'glk350 4matic',
 'gls',
 'gls (1999.5)',
 'gls 1.8t',
 'gls 1.8t 4motion',
 'gls pzev',
 'gls special value',
 'gls tdi',
 'gls v6',
 'gls v6 4motion',
 'gls vr6',
 'gls vr6 (1999.5)',
 'gls wolfsburg edition 1.8t',
 'glt',
 'glt se',
 'glx',
 'glx 1.8t',
 'glx 4motion',
 'glx sport',
 'glx v6',
 'glx v6 4motion',
 'glx vr6',
 'gran sport',
 'grand sport',
 'grand touring',
 'green line',
 'gs',
 'gs convenience',
 'gs plus',
 'gs pzev',
 'gs-sport',
 'gsr',
 'gsx',
 'gt',
 'gt deluxe',
 'gt limited',
 'gt limited edition',
 'gt premium',
 'gt-s',
 'gt1',
 'gt2',
 'gtc',
 'gtp',
 'gts',
 'gts v6',
 'gtz',
 'gtz v6',
 'gx',
 'gxe',
 'gxp',
 'h6-3.0 35th anniversary edition',
 'h6-3.0 l.l. bean edition',
 'hardtop',
 'harley-davidson',
 'hd',
 'hd ls',
 'hd slt',
 'heat',
 'hero',
 'hev',
 'hf',
 'high altitude edition',
 'high country',
 'highline',
 'hpt',
 'hse',
 'hse lux',
 'ht',
 'hx',
 'hybrid',
 'hybrid premium',
 'hybrid pzev',
 'hybrid pzev w/leather and navigation',
 'hybrid sport',
 'hybrid touring',
 'hybrid w/leather',
 'hybrid w/technology package',
 'i',
 'i grand touring',
 'i sport',
 'i sport value edition',
 'i sv',
 'i touring',
 'i touring plus',
 'i-280 s',
 'i-290 ls',
 'i-290 s',
 'i4',
 'ii',
 'iii',
 'ipl',
 'iv',
 'ix',
 'jls',
 'jlx',
 'john cooper works',
 'john cooper works all4',
 'journey',
 'jx',
 'jx35',
 'jxi',
 'king ranch',
 'komfort',
 'komfort pzev',
 'komfort sulev',
 'koup ex',
 'koup sx',
 'l',
 'l 3.0t quattro',
 'l 35th anniversary edition',
 'l 4.0t quattro',
 'l 4.2 quattro',
 'l 7-passenger',
 'l quattro',
 'l tdi quattro',
 'l w12 6.3 quattro',
 'l.l. bean edition',
 'l.l. bean edition  ',
 'l100',
 'l200',
 'l300',
 'laramie',
 'laramie longhorn',
 'laramie longhorn edition',
 'laramie longhorn limited edition ',
 'laramie slt',
 'laredo',
 'lariat',
 'lariat limited',
 'latitude',
 'latitude x',
 'le',
 'le 7-passenger',
 'le 7-passenger mobility auto access',
 'le 8-passenger',
 'le eco',
 'le plus',
 'le popular package',
 'le v6',
 'le v8',
 'leather',
 'leather group',
 'level i',
 'limited',
 'limited ',
 'limited 5-passenger',
 'limited 7-passenger',
 'limited edition',
 'limited edition pzev',
 'limited ffv',
 'limited fleet',
 'limited hev',
 'limited jet',
 'limited pzev',
 'limited sulev',
 'limited v6',
 'linear',
 'linear 2.3t',
 'longhorn',
 'lounge',
 'lpt',
 'ls',
 'ls 1500',
 'ls 2500',
 'ls 3500',
 'ls 5 passenger',
 'ls 7 passenger',
 'ls fleet',
 'ls premium',
 'ls sport',
 'ls ultimate',
 'ls v6',
 'ls1',
 'ls2',
 'lsc',
 'lse',
 'lsi',
 'lt',
 'lt 1500',
 'lt 2500',
 'lt 3500',
 'lt eco',
 'lt entertainer',
 'lt fleet',
 'lt1',
 'lt2',
 'lt2 xfe',
 'lt3',
 'ltz',
 'ltz 1500',
 'ltz fleet',
 'lux',
 'lux limited',
 'lux limited pzev',
 'lux pzev',
 'lux sulev',
 'luxury',
 'luxury 5 passenger',
 'luxury iii',
 'luxury pzev',
 'lw200',
 'lw300',
 'lx',
 'lx family value',
 'lx fleet',
 'lx hybrid',
 'lx premium',
 'lx pzev',
 'lx special edition',
 'lx special edition pzev',
 'lx special edition v-6',
 'lx standard',
 'lx v-6',
 'lx v6',
 'lx value',
 'lx-p',
 'lx-s',
 'lx-v6',
 'lxi',
 'm235i',
 'm35h',
 'm37',
 'm37x',
 'm56',
 'm56x',
 'mach 1 premium',
 'mainstreet',
 'mc',
 'ml320',
 'ml320 bluetec',
 'ml320 cdi',
 'ml350',
 'ml350 4matic',
 'ml350 bluetec',
 'ml350 bluetec 4matic',
 'ml430',
 'ml500',
 'ml55 amg',
 'ml550',
 'ml550 4matic',
 'ml63 amg',
 'montanavision',
 'mr',
 'mr touring',
 'mv',
 'n400 roadster',
 'natural gas',
 'nbx',
 'nismo',
 'nismo rs',
 'o-z rally',
 'off-road',
 'olympic gold',
 'one',
 'outback',
 'outback limited',
 'outback sport',
 'outback sport special edition',
 'overland',
 'panel ls',
 'panel lt',
 'passion',
 'passion cabrio',
 'passion cabriolet',
 'passion coupe',
 'performance',
 'platinum',
 'platinum edition',
 'platinum ffv',
 'plus',
 'pop',
 'portfolio',
 'power wagon',
 'premier',
 'premier ',
 'premiere',
 'premium',
 'premium 1',
 'premium 1 turbo',
 'premium 2',
 'premium 2 turbo',
 'premium cartier',
 'premium group',
 'premium i',
 'premium i group',
 'premium ii group',
 'premium iii group',
 'premium luxury',
 'premium package',
 'premium plus',
 'premium plus quattro',
 'premium quattro',
 'premium signature',
 'prerunner',
 'prerunner v6',
 'prestige',
 'prestige premium',
 'prestige quattro',
 'pro-4x',
 'pure',
 'pure coupe',
 'pure plus',
 'pure premium',
 'pzev',
 'quattro',
 'qx56',
 'r',
 'r-design',
 'r-line',
 'r-line pzev',
 'r/t',
 'r/t ',
 'r/t plus',
 'r/t scat pack',
 'r320 bluetec',
 'r320 cdi',
 'r350',
 'r350 4matic',
 'r350 bluetec',
 'r500',
 'ralliart',
 'ralliart v6',
 'rallye',
 're:mix',
 'red line',
 'renegade',
 'ribelle',
 'rio5 lx',
 'rio5 sx',
 'rocky mountain',
 'rs',
 'rt',
 'rt fleet',
 'rtl',
 'rtl w/leather',
 'rtl w/leather and navigation',
 'rts',
 'rtx',
 'rubicon',
 'rush',
 ...]

In [136]:

data['color'].unique()

array(['black', 'gold', 'blue', 'white', 'gray', '—', 'silver', 'red',
       'brown', 'green', 'beige', nan, 'off-white', 'yellow', 'burgundy',
       'orange', 'purple', 'turquoise', 'charcoal', 'lime', 'pink'],
      dtype=object)

In [141]:
data[data['color']=='—']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
39,2012,ford,escape,xlt,suv,automatic,wi,3.7,60356.0,—,beige,donlen corporation,12700,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
48,2012,bmw,3 series,328i,convertible,automatic,wi,4.2,47777.0,—,gray,financial services remarketing (lease),22500,Wed Jun 17 2015 03:00:00 GMT-0700 (PDT)
74,2012,ford,taurus,sho,sedan,automatic,mn,2.4,63274.0,—,black,"ford motor credit company,llc",17300,Wed Feb 04 2015 02:00:00 GMT-0800 (PST)
80,2014,ford,expedition,el king ranch,suv,automatic,mn,5.0,10103.0,—,tan,ford motor credit company,36300,Wed Feb 11 2015 02:00:00 GMT-0800 (PST)
171,2014,ford,focus,se,sedan,automatic,fl,4.1,37643.0,—,gray,ars/avis budget group,10100,Thu May 28 2015 02:00:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440141,2007,dodge,charger,base,sedan,automatic,az,2.8,202955.0,—,gray,ge fleet services for itself/servicer,4000,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
440148,2014,ford,mustang,v6,coupe,automatic,tn,4.2,33978.0,—,gray,ars/avis budget group,18100,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
440155,2013,nissan,murano,sl,suv,automatic,tn,4.4,18285.0,—,beige,nissan north america inc.,25200,Thu Feb 26 2015 02:00:00 GMT-0800 (PST)
440158,2013,ford,f-150,xlt,supercab,automatic,tx,4.9,18366.0,—,gray,"ford motor credit company,llc",26000,Thu Feb 05 2015 02:30:00 GMT-0800 (PST)
440208,2013,ford,focus,se,sedan,automatic,tx,4.7,25009.0,—,black,"ford motor credit company,llc",12200,Thu Jan 22 2015 02:30:00 GMT-0800 (PST)

In [142]:
data['interior'].unique()

array(['black', 'beige', 'gray', 'tan', '—', nan, 'blue', 'brown',
       'white', 'silver', 'red', 'green', 'gold', 'purple', 'orange',
       'off-white', 'burgundy', 'yellow'], dtype=object)

In [144]:
data[data['interior']=='—']

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,sellingprice,saledate
122,2007,suzuki,reno,base,hatchback,automatic,il,NaN,127936.0,red,—,ray chevrolet inc,1800,Thu Dec 18 2014 14:00:00 GMT-0800 (PST)
132,2006,toyota,sienna,le 8-passenger,minivan,automatic,fl,2.0,91778.0,gold,—,caprock auto remarketing,6200,Thu Jan 08 2015 15:00:00 GMT-0800 (PST)
142,2013,nissan,altima,2.5,sedan,automatic,fl,2.0,32737.0,silver,—,enterprise vehicle exchange / tra / rental / t...,11000,Tue Mar 10 2015 02:00:00 GMT-0700 (PDT)
163,2014,toyota,sienna,le 7-passenger mobility auto access,minivan,automatic,nv,2.0,19583.0,blue,—,malco enterprise of nevada/dba budget,17500,Fri Jun 05 2015 05:00:00 GMT-0700 (PDT)
211,2011,lincoln,mkz,base,sedan,automatic,pa,4.3,44614.0,black,—,alamo leasing co,14700,Tue Mar 03 2015 01:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440028,2014,bmw,4 series,428i,coupe,automatic,nj,4.3,9559.0,black,—,bmw north america greer,34250,Tue Jan 13 2015 06:00:00 GMT-0800 (PST)
440088,2014,hyundai,accent,gs,hatchback,manual,fl,4.6,11277.0,silver,—,regional acceptance corporation / greenville,10800,Thu Dec 18 2014 09:50:00 GMT-0800 (PST)
440138,2013,toyota,camry,le,sedan,automatic,fl,2.0,46948.0,black,—,capital one auto finance,13900,Wed Feb 25 2015 01:10:00 GMT-0800 (PST)
440145,2010,mazda,mazda3,s grand touring,hatchback,automatic,nj,NaN,104692.0,gray,—,d & d auto group llc,6650,Wed Dec 17 2014 09:30:00 GMT-0800 (PST)
440223,2000,audi,a4,1.8t quattro,sedan,automatic,mo,NaN,105021.0,red,—,o'fallon motorsports,2500,Tue Dec 23 2014 11:00:00 GMT-0800 (PST)

In [148]:
data['body']=data['interior'].str.replace('nan', '—')
data['interior'].unique()

array(['black', 'beige', 'gray', 'tan', '—', nan, 'blue', 'brown',
       'white', 'silver', 'red', 'green', 'gold', 'purple', 'orange',
       'off-white', 'burgundy', 'yellow'], dtype=object)